{% extends "stratosphere/inspinia.html" %}

{% block title %}Create A Compute Image{% endblock %}

{% block content %}
    <div class="row wrapper white-bg page-heading">
        <div class="col-lg-12 animated fadeInLeft text-center setup-instructions">
            <h1>Let's create a compute image</h1>
            <p class="description">Compute images tell Aerovane which provider-specific images to use on different cloud providers.</p>
            <p><form action="/images/" method="GET"><button type="submit" class="btn btn-primary btn-large">Create compute image</button></form></p>

            {% include "stratosphere/setup/_progress_bar.html" %}
        </div>
    </div>
{% endblock %}
