<table class="table table-striped compute-groups-table" ng-controller="ComputeGroupListCtrl">
    <tbody>
        <tr ng-repeat="group in groups | orderBy: 'created_at' track by group.id" group-id="{$ group.id $}" class="group group-{$ group.state $}" state="{$ group.state $}" ng-cloak av-group>
            <td style="padding-right: 40px;">
                <!-- wrap in <div> to provide $compile a valid HTML structure in avGroup directive -->
                <div style="margin-bottom: 5px;"><a href="/compute_groups/{$ group.id $}/" style="font-size: 1.5em;">{$ group.name $}</a></div>
                <div class="list-info-block">
                    <div class="horizontal-element">
                        <table>
                            <tr>
                                <td class="text-right">{$ group.cpu $}</td>
                                <td class="right-cell"><small>ECU</small></td>
                            </tr>
                            <tr>
                                <td class="text-right">{$ group.memory $}</td>
                                <td class="right-cell"><small>MB</small></td>
                            </tr>
                        </table>
                    </div>
                    <div class="horizontal-element">
                        <table>
                            <tr>
                                <td class="text-right"><small>Running instances:</small></td>
                                <td class="text-right right-cell">{$ group.running_instance_count $}</td>
                            </tr>
                            <tr>
                                <td class="text-right"><small>Expected instances:</small></td>
                                <td class="text-right right-cell">{$ group.instance_count $}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="horizontal-element">
                        <table>
                            <tr>
                                <td class="text-right"><small>Hourly:</small></td>
                                <td class="text-right right-cell">${$ group.cost | number:3 $}</td>
                            </tr>
                            <tr>
                                <td class="text-right"><small>Monthly:</small></td>
                                <td class="text-right right-cell">${$ group.cost * 24 * 30 | number:2 $}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
            <td class="group-providers-graph-cell">
                <div class="graph-placeholder" style="height: 40px; width: 100%;"></div>
            </td>
            <td class="text-right"><button type="button" class="btn btn-danger btn-xs" ng-click="deleteEntry(group.id)"><i class="fa fa-times"></i> Terminate</button></td>
        </tr>
    </tbody>
</table>