<div class="ibox float-e-margins" ng-controller="ProviderListCtrl">
    <div class="ibox-title">
        <h5>Providers</h5>
    </div>
    <div class="ibox-content providers-table table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Failures in last hour</th>
                    <th>Running instances</th>
                    <th>Total instances</th>
                    <th>Enabled</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="provider in providers | orderBy: 'pretty_name' track by provider.id" ng-cloak>
                    <td>
                        <a class="provider-link" href="{$ provider.admin_url $}" target="_blank">
                            <img class="provider-icon" ng-src="{$ provider.icon_url $}"><!--
                            --><span>{$ provider.pretty_name $}</span>
                        </a>
                    </td>
                    <td>{$ provider.failure_count $}</td>
                    <td>{$ provider.max_failure_count $}</td>
                    <td>{$ provider.total_instances $}</td>
                    <td>
                        <div class="checkbox checkbox-success">
                            <input type="checkbox" provider="{$ provider.id $}" id="provider-enabled-{$ provider.id $}" ng-model="provider.enabled" ng-change="changeProviderEnabled(provider)">
                            <label for="provider-enabled-{$ provider.id $}"></label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<style>
    .providers-table .checkbox {
        margin: 0;
    }
</style>