{% extends "stratosphere/inspinia.html" %}
{% load staticfiles %}

{% block angular-app-name %}dashboardApp{% endblock %}

{% block content %}
    <div class="row" ng-controller="ComputeGroupListCtrl">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Add compute group</h5>
                            </div>
                            <div class="ibox-content">
                                <form class="form">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" class="form-control" name="name" ng-model="group.name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>CPU</label>
                                                <input id="cpu-slider" name="cpu" ng-model="group.cpu">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>Memory</label>
                                                <input id="memory-slider" name="memory" ng-model="group.memory">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>Instances</label>
                                                <input id="instance-count-slider" name="instance_count" ng-model="group.instance_count">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Authentication method</label>
                                                <select class="fancy-select" ng-model="group.authentication_method" name="authentication_method">
                                                    <option></option>
                                                    {% for method in authentication_methods %}
                                                        <option value="{{ method.pk }}">{{ method.pretty_type }}: {{ method.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group" id="select-os-container">
                                                <label>Compute image</label>
                                                <select class="fancy-select" ng-model="group.operating_system" name="operating_system">
                                                    <option></option>
                                                    {% for image in os_images_map %}
                                                        <option value="{{ image.pk }}">{{ image.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label>Providers</label>
                                        </div>
                                    </div>
                                    <div id="providers-list" class="providers-selectable">
                                        <div class="row">
                                            <div class="form-group">
                                                {% for provider in possible_providers %}
                                                    <div class="col-lg-3 text-center provider
                                                        {% if not provider.available %}
                                                            not-available
                                                        {% endif %}
                                                    " id="provider_choice_{{ provider.name }}">
                                                        <div class="checkbox checkbox-success">
                                                            <input type="checkbox" ng-model="group.provider_choice_{{ provider.name }}" name="provider_choice_{{ provider.name }}"><label></label>
                                                        </div>
                                                        <div class="click-area" style="height: 100%; position: relative;">
                                                            {% if not provider.available %}
                                                                <div class="coming-soon">COMING SOON</div>
                                                            {% endif %}

                                                            {% with 'stratosphere/'|add:provider.name|add:'.png' as image_static %}
                                                                <img src="{% static image_static %}">
                                                            {% endwith %}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2 col-lg-offset-5">
                                            <button type="button" class="btn btn-primary btn-lg" style="width: 100%; margin-top: 20px;" ng-click="update(group)" id="add-group-button" disabled>Add</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_script %}
    var os_supported_providers = {
        {% for image, providers in os_images_map.items %}
            "{{ image.id }}": [
                {% for provider in providers %}
                    "{{ provider.name }}",
                {% endfor %}
            ],
        {% endfor %}
    }

    function hide_unsupported_providers() {
        $('#providers-list .provider').addClass('disabled');
        $('#providers-list .provider.disabled input').removeAttr('disabled');
        $('#providers-list .provider input').removeProp('checked');

        var select_element = $('#select-os-container select');
        // angular.element(select_element).triggerHandler('change');

        var selected_os = select_element.val();
        if (selected_os.length) {
            var supported_providers = os_supported_providers[selected_os];
            supported_providers.forEach(function(provider_name) {
                var provider = $('#provider_choice_' + provider_name);
                if (!provider.hasClass('not-available'))
                    provider.removeClass('disabled');
            });
        }

        $('#providers-list .provider.disabled input').attr('disabled', 'true');
        $('#providers-list .provider:not(.disabled) input').prop('checked', 'true');

        $('#providers-list .provider input').each(function() {
            $(this).triggerHandler('change');
            angular.element($(this)).triggerHandler('click');
        });
    }

    $(document).ready(function() {
        var handleInputChange = function() {
            var name = $('input[name="name"]').val();

            var selected_provider_count = $('#providers-list').find('input[type="checkbox"]:checked').length;
            var selected_image = $('#select-os-container select').val().length > 0;

            var add_button = $('#add-group-button');
            if (name.length > 0 && selected_provider_count > 0 && selected_image) {
                add_button.removeAttr('disabled');
            }
            else {
                add_button.attr('disabled', 'true');
            }
        };

        $('input, select').on('input change', handleInputChange);

        var createslider = function(inputElement, min, max, step, postfix) {
            inputElement.ionRangeSlider({
                min: min,
                max: max,
                step: step,
                postfix: postfix,
                hasGrid: false,
                onChange: function(slideEvt) {
                    angular.element(inputElement).triggerHandler('input');
                },
            });

            angular.element(inputElement).triggerHandler('input');
        }

        createslider($('#cpu-slider'), 0, 88, 1, " ECUs");
        createslider($('#memory-slider'), 512, 8192, 512, "MB");
        createslider($('#instance-count-slider'), 1, 16, 1, " instances");

        $('select[name="authentication_method"], select[name="operating_system"]').on('change', function() {
            angular.element($(this)).triggerHandler('change');
        });

        $('#select-os-container select').on('change', function() {
            hide_unsupported_providers();
        });

        $('#providers-list .provider input').change(function() {
            var providerSelectArea = $(this).parents(".provider");

            if (this.checked)
                providerSelectArea.addClass('bg-success');
            else
                providerSelectArea.removeClass('bg-success');

            // currently unused
            $('#' + $(providerSelectArea).prop('id') + '-options').toggle(this.checked);
        });

        $('#providers-list .provider .click-area').click(function() {
            var input = $(this).parents('.provider').find('input');
            if (input.is(':visible') && !input.is(':disabled')) {
                input.prop('checked', !input.prop('checked'));
                input.triggerHandler('change');
            }
        });
    });
{% endblock %}

{% block style %}
    .radio *, #providers-list * {
       -ms-user-select: none;
       -moz-user-select: -moz-none;
       -khtml-user-select: none;
       -webkit-user-select: none;
       user-select: none;
    }

    #providers-list {
        margin-top: 5px;
    }

    #providers-list .provider {
        height: 100px;
    }

    #providers-list .checkbox {
        display: none;
        position: absolute;
        top: 10px;
        left: 10px;
        margin: 0;
        z-index: 1;
    }

    #providers-list.providers-selectable .checkbox {
        display: block;
    }

    #providers-list.providers-selectable .provider:not(.disabled),
    #providers-list.providers-selectable .provider:not(.disabled) * {
        cursor: pointer;
    }

    #providers-list img {
        /* makes them scale proportionally, height before width */
        max-width: 100%;
        max-height: 100px;
    }

    #providers-list .provider .coming-soon {
        position: absolute;
        top: 32%;
        left: 20%;
        color: red;
        font-size: 2em;
        font-weight: 700;
        background-color: white;
        padding: 0 5px;
        z-index: 5;
        white-space: nowrap;
    }

    #providers-list .provider.disabled,
    #providers-list .provider.not-available {
        background-color: #d8d8d8;
    }

    #providers-list .provider.disabled img,
    #providers-list .provider.not-available img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
{% endblock %}