{% extends "stratosphere/inspinia.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Authentication{% endblock %}

{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h1>Authentication Methods</h1>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInLeft">
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>SSH Keys</h5>
                    </div>
                    <div class="ibox-content">
                        {% if key_methods|length > 0 %}
                            {% comment %} not using table-responsive because it breaks word wrapping {% endcomment %}
                            <table class="table table-striped ssh-keys-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th style="width: 60%;">Key</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for method in key_methods %}
                                        <tr style="height: 5px;">
                                            <td style="word-wrap: break-word;">{{ method.name }}</td>
                                            <td style="overflow-x: auto;">
                                                <span class="short-key">{{ method.key|truncatechars:20 }}</span>
                                                <span class="long-key">{{ method.key }}</span>
                                                <button type="button" class="btn btn-xs btn-info toggle-long-key">Show</button>
                                            </td>
                                            <td class="text-center">
                                                <button class="btn btn-danger btn-xs delete-method-button" method-id="{{ method.id }}">Delete</button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        <form action="/authentication_methods/" method="post" autocomplete="off">
                            {% csrf_token %}
                            {% bootstrap_form add_key_method %}
                            <input type="submit" value="Add" class="btn btn-primary" >
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .panel-title img {
            height: 16px;
            margin-right: 5px;
        }

        .panel-title > * {
            display: inline-block;
            vertical-align: middle;
        }

        .ssh-keys-table {
            table-layout: fixed;
        }

        .ssh-keys-table > tbody > tr > td {
            vertical-align: middle;
        }

        .ssh-keys-table .long-key {
            display: none;
        }
    </style>
{% endblock %}

{% block body_script %}
    $(document).ready(function() {
        $('.toggle-long-key').click(function() {
            var parent = $(this).parent('td');
            var shortKey = parent.children('.short-key');
            var longKey = parent.children('.long-key');
            shortKey.toggle();
            longKey.toggle();
            $(this).text(longKey.is(':visible') ? 'Hide' : 'Show');
        });

        $('.delete-method-button').click(function() {
            $.ajax({
                url: '/authentication_methods/' + $(this).attr('method-id') + '/',
                method: 'DELETE',
                success: function() {
                    location.reload();
                },
            });
        });
    });
{% endblock %}
