{% extends "stratosphere/inspinia.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Providers{% endblock %}

{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h1>Amazon Web Services</h1>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInLeft">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Credentials</h5>
                    </div>
                    <div class="ibox-content">
                        {% if data_state == 'ERROR' %}
                            <div class="text-danger credentials-error-message">
                                <strong>
                                    {% if credentials_error == 'INVALID_CREDENTIALS' %}
                                        Invalid credentials.
                                    {% elif credentials_error == 'UNAUTHORIZED_CREDENTIALS' %}
                                        Unauthorized credentials. Please see the screencast below for instructions on how to grant Aerovane appropriate permissions on your AWS account.
                                    {% elif credentials_error == 'UNKNOWN_ERROR' %}
                                        Unknown credentials error.
                                    {% else %}
                                        Unknown error.
                                    {% endif %}
                                </strong>
                            </div>
                        {% endif %}

                        <form action="/providers/aws/" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Access key ID</label>
                                <input type="text" class="form-control" name="aws_access_key_id" value="{{ aws_access_key_id }}">
                            </div>
                            <div class="form-group">
                                <label>Secret access key</label>
                                <input type="password" class="form-control" name="aws_secret_access_key" autocomplete="new-password"
                                    {% if aws_access_key_id %}
                                        placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;"
                                    {% endif %}
                                >
                            </div>
                            <input type="submit" value="Save" class="btn btn-primary">
                            <input type="button" value="Open AWS IAM users page" class="btn btn-info open-iam-page">
                            <div class="iam-instructions">It is recommended to create an IAM account for Aerovane to use and paste its credentials here. For instructions on how to do this, please watch the screencast below.</div>
                        </form>

                        <iframe class="screencast" width="960" height="540" frameborder="0" allowfullscreen></iframe>
                        <!-- src="https://www.youtube.com/embed/ga2t-a_VGhY?showinfo=0&playsinline=1&rel=0&modestbranding=1&loop=1&fs=0" -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .screencast {
        margin-top: 10px;
    }

    .iam-instructions {
        margin-top: 5px;
    }

    .credentials-error-message {
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block body_script %}
    $(document).ready(function() {
        $('.open-iam-page').click(function() {
            window.open('https://console.aws.amazon.com/iam/home#users', '_blank');
        });
    });
{% endblock %}

{% block style %}
{% endblock %}