{% extends "stratosphere/inspinia.html" %}
{% load staticfiles %}

{% block angular-app-name %}dashboardApp{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="btn-group btn-group-xs" id="instances-chart-max-range-buttons" style="float: right;">
                            <button type="button" class="btn btn-info" seconds="1800">30 minutes</button>
                            <button type="button" class="btn btn-default" seconds="43200">12 hours</button>
                            <button type="button" class="btn btn-default" seconds="604800">7 days</button>
                            <button type="button" class="btn btn-default">All time</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="instances-chart-container">
                            <div id="instances-chart"></div>
                            <div id="instances-chart-range-slider"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {% include "stratosphere/_provider_list.html" %}

                        <div class="ibox float-e-margins" ng-controller="ComputeGroupCtrl">
                            <div class="ibox-title">
                                <h5 ng-cloak>{$ group.name $}</h5>
                            </div>
                            <div class="ibox-content">
                                <table class="table instances-table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Provider</th>
                                            <th>State</th>
                                            <th>Failed</th>
                                            <th>ID</th>
                                            <th>Public IPs</th>
                                            <th>Private IPs</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="instance in group.instances | orderBy: ['provider_pretty_name', 'created_at'] track by instance.id" class="instance-row {$ instance.display_state $}" ng-cloak>
                                            <td>{$ instance.name $}</td>
                                            <td>{$ instance.provider_pretty_name $}</td>
                                            <td>{$ instance.state $}</td>
                                            <td>{$ instance.failed_at != null $}</td>
                                            <td><code ng-show="instance.external_id">{$ instance.external_id $}</code></td>
                                            <td>
                                            	<code ng-repeat="ip in instance.public_ips">
	                                            	{$ ip $}
	                                            </code>
                                            </td>
                                            <td>
                                            	<code ng-repeat="ip in instance.private_ips">
	                                            	{$ ip $}
	                                            </code>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block style %}
	.instances-table code {
		color: black;
	}

	.instance-row.pending {
		background-color: #F2D7B1;
	}
	.instance-row.running {
		background-color: #B7DCB7;
	}
	.instance-row.destroyed {
		background-color: #F9F9F9;
	}
	.instance-row.failed {
		background-color: #E9B3B1;
	}
{% endblock %}