{% extends "stratosphere/inspinia.html" %}
{% load staticfiles %}

{% block title %}{{ compute_group_name }}{% endblock %}

{% block angular-app-name %}dashboardApp{% endblock %}

{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h1>{{ compute_group_name }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="btn-group btn-group-xs" id="instances-chart-max-range-buttons" style="float: right;">
                            <button type="button" class="btn btn-info" seconds="1800">30 minutes</button>
                            <button type="button" class="btn btn-default" seconds="43200">12 hours</button>
                            <button type="button" class="btn btn-default" seconds="604800">7 days</button>
                            <button type="button" class="btn btn-default">All time</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="instances-chart-container">
                            <div id="instances-chart"></div>
                            <div id="instances-chart-range-slider"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins" ng-controller="ComputeGroupCtrl">
                            <div class="ibox-title">
                                <h5 ng-cloak>Compute instances</h5>
                            </div>
                            <div class="ibox-content table-responsive">
                                <table class="table instances-table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Provider</th>
                                            <th>State</th>
                                            <th>Name</th>
                                            <th>Size</th>
                                            <th>ID</th>
                                            <th>Public IPs</th>
                                            <th>Private IPs</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="instance in group.instances | orderBy: ['provider_pretty_name', 'created_at'] track by instance.id" ng-cloak>
                                            <!-- Provider -->
                                            <td>
                                                <a class="provider-link" href="{$ instance.provider_admin_url $}" target="_blank">
                                                    <img class="provider-icon" ng-src="{$ instance.provider_icon_url $}"><!--
                                                    --><span>{$ instance.provider_pretty_name $}</span>
                                                </a>
                                            </td>
                                            <!-- State -->
                                            <td>
                                                <code class="instance-state">
                                                    <div class="instance-state-circle {$ instance.display_state $}"></div><!--
                                                    --><span>{$ instance.state == null ? 'CREATING' : instance.state $}</span>
                                                </code>
                                            </td>
                                            <!-- Name -->
                                            <td><code>{$ instance.name $}</code></td>
                                            <!-- Size -->
                                            <td><code>{$ instance.size $}</code></td>
                                            <!-- ID -->
                                            <td>
                                                <code ng-show="instance.external_id"><a href="{$ instance.admin_url $}" target="_blank">{$ instance.external_id $}</a></code>
                                            </td>
                                            <!-- Public IPs -->
                                            <td>
                                                <code class="public-ip" ng-repeat="ip in instance.public_ips"><!--
                                                    --><span>{$ ip $}</span><!--
                                                    --><a href="ssh://{$ ip $}"><img src="/static/stratosphere/ssh.svg"></a><!--
                                                    --><a href="http://{$ ip $}" target="_blank"><img src="/static/stratosphere/web.svg"></a><!-- eliminate extra space when there are multiple elements
                                                --></code>
                                            </td>
                                            <!-- Private IPs -->
                                            <td>
                                                <code ng-repeat="ip in instance.private_ips">
                                                    {$ ip $}<!-- eliminate extra space when there are multiple elements
                                                --></code>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block style %}
    .instances-table code {
        color: black;
    }

    .instance-state > * {
        display: inline-block;
        vertical-align: middle;
    }

    .instance-state-circle {
        background-color: #D4BE21;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        margin-right: 5px;
    }

    .instance-state-circle.running {
        background-color: #47BF35;
    }
    .instance-state-circle.destroyed {
        background-color: #989898;
    }
    .instance-state-circle.failed {
        background-color: #D4212E;
    }

    .public-ip img {
        height: 16px;
        margin-left: 5px;
    }
{% endblock %}