{% extends "stratosphere/inspinia.html" %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock %}

{% block angular-app-name %}dashboardApp{% endblock %}

{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            {% include "stratosphere/_page_help_header.html" with page_header="Dashboard" %}
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInLeft">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Compute instance history</h5>
                        <div class="btn-group btn-group-xs" id="instances-chart-max-range-buttons" style="float: right;">
                            <button type="button" class="btn btn-info" seconds="1800">30 minutes</button>
                            <button type="button" class="btn btn-default" seconds="43200">12 hours</button>
                            <button type="button" class="btn btn-default" seconds="604800">7 days</button>
                            <button type="button" class="btn btn-default">All time</button>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="instances-chart-container">
                                    <div id="instances-chart"></div>
                                    <div style="padding: 0 10px;">
                                        <div id="instances-chart-range-slider"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins" data-intro="dsfsdsdf">
                    <div class="ibox-title">
                        <h5>Providers</h5>
                    </div>
                    <div class="ibox-content table-responsive providers-table">
                        <div class="row">
                            <div class="col-lg-9">
                                {% include "stratosphere/_provider_list.html" %}
                            </div>
                            <div class="col-lg-3" style="text-align: center;">
                                <canvas id="providerCostDoughnutChart" class="cost-doughnut-chart" width="300" height="150"></canvas>
                                <h4>Cost by provider</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Compute groups</h5>
                    </div>
                    <div class="ibox-content table-responsive">
                        <div class="row">
                            <div class="col-lg-9">
                                {% include "stratosphere/_compute_group_list.html" %}
                            </div>
                            <div class="col-lg-3" style="text-align: center;">
                                <canvas id="computeGroupCostDoughnutChart" class="cost-doughnut-chart" width="300" height="150"></canvas>
                                <h4>Cost by compute group</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static "stratosphere/inspinia/js/plugins/chartJs/Chart.min.js" %}"></script>
{% endblock %}

{% block body_script %}
    window.tutorialTour = new Tour({
        steps: [{
                element: "#instances-chart",
                title: "Instance states graph",
                content: "This shows the history of running, pending, and failed instances in a stacked time-series graph.",
                placement: "bottom"
            },
            {
                element: "#instances-chart-max-range-buttons",
                title: "Time range buttons",
                content: "Click these to set the maximum time range that the graph displays.",
                placement: "top"
            },
            {
                element: ".noUi-handle-lower:first-of-type",
                title: "Time range slider edges",
                content: "Click and drag edges to shrink or expand time range shown.",
                placement: "bottom"
            },
            {
                element: "#instances-chart-range-slider",
                title: "Time range slider middle",
                content: "Drag middle to travel backwards or forwards through time.",
                placement: "bottom"
            },
            {
                element: ".providers-table tr:first-child .checkbox",
                title: "Enable/disable provider",
                content: "Disabling a provider causes all of its instances to be migrated to other providers. A provider will be automatically disabled if it generates too many errors within a certain period of time.",
                placement: "top"
            }
        ]
    });
{% endblock %}

{% block style %}
    .compute-groups-table th,
    .compute-groups-table td {
        white-space: nowrap;
    }

    .compute-groups-table .group td {
        vertical-align: middle;
    }

    .group-providers-graph-cell {
        width: 99%;
    }

    .state-name {
        font-style: italic;
    }
{% endblock %}