{% extends "stratosphere/inspinia.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Images{% endblock %}

{% block angular-app-name %}dashboardApp{% endblock %}

{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h1>Images</h1>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInLeft" ng-controller="OperatingSystemListCtrl">
        <div class="row" id="loading-alert" style="display: none;">
            <div class="col-lg-12">
                <div class="alert alert-info" role="alert">Loading provider images and sizes...</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3>Create from template:</h3>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-lg-12">
                <button type="button" class="btn btn-white preloaded-image-button" ng-click="addPreloaded()">
                    <img src="{% static "stratosphere/wrench.svg" %}" class="icon"><span class="name">Custom</span>
                </button>
                <button type="button" class="btn btn-white preloaded-image-button" ng-click="addPreloaded('ubuntu-16.04')" preloaded-image-id="ubuntu-16.04">
                    <img src="{% static "stratosphere/ubuntu.png" %}" class="icon"><span class="name">Ubuntu 16.04 LTS</span>
                </button>
            </div>
        </div>
        <div class="row" id="operating-systems">
            <div class="col-lg-6" ng-repeat="os in operating_systems track by $index" ng-cloak>
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="operating-system form">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" ng-model="os.name" value="{$ os.name $}" ng-disabled="os.id != null">
                            </div>
                            <div class="form-group" ng-repeat="provider in os.providers track by provider.id">
                                <label>{$ provider.pretty_name $}</label>
                                <input class="form-control"
                                    type="text"
                                    ng-model="provider.disk_image"
                                    ng-disabled="os.id != null"
                                    placeholder="Search..."
                                    typeahead="item for item in getDiskImages($viewValue, provider.id)"
                                    typeahead-input-formatter="$model.name"
                                    typeahead-min-length="3"
                                    typeahead-on-select="onDiskImageSelected($item)"
                                    typeahead-wait-ms="500"
                                    typeahead-template-url="diskImageResult.html">
                                </input>
                            </div>
                            <div class="form-group" style="margin-bottom: 0;">
                                <button class="btn btn-success" ng-click="update(os, $index)" ng-if="os.id == null" ng-disabled="!os.name">Create</button>
                                <button class="btn btn-danger" ng-click="delete(os, $index)" ng-if="os.id != null && os.deletable">Delete</button>
                                <img src="{% static "stratosphere/loading.gif" %}" style="display: none;" id="operating-system-loading">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button type="button" id="refresh-provider" class="btn btn-info" style="display: none;">Refresh images and sizes</button>
            </div>
        </div>
    </div>

    <style>
        .preloaded-image-button {
            margin-right: 5px;
        }

        .preloaded-image-button .icon {
            height: 64px;
        }

        .preloaded-image-button .name {
            margin-left: 10px;
        }
    </style>
{% endblock %}

{% block body_script %}
    function startCheckLoadedInterval() {
        clearInterval(window.checkLoadedInterval);

        window.checkLoadedInterval = setInterval(function() {
            $.ajax({
                url: '/providers/data_state/',
                method: 'GET',
                success: function(data) {
                    var data_state = data['data_state'];
                    var loaded = data_state != 'NOT_LOADED';
                    $('#loading-alert').toggle(!loaded);
                    $('#refresh-provider').toggle(loaded);
                    if (loaded)
                        clearInterval(window.checkLoadedInterval);
                },
            });
        }, 1000);
    }

    $(document).ready(function() {
        /*$('.preloaded-image-button').click(function() {
            var imageId = $(this).attr('preloaded-image-id');
            var preloadedImage = preloadedImages[imageId];

            for (var key in preloadedImage) {
                if (preloadedImage.hasOwnProperty(key)) {
                    var externalId = preloadedImage[key];
                    console.log(key, externalId);
                }
            }
        });*/

        startCheckLoadedInterval();

        $('#refresh-provider').click(function() {
            $.ajax({
                url: '/providers/refresh/',
                method: 'POST',
                success: function() {
                    $('#loading-alert').show();
                    $('#refresh-provider').hide();
                    startCheckLoadedInterval();
                }
            });
        });
    });
{% endblock %}

{% block style %}
    .operating-system select {
        width: 100%;
    }
{% endblock %}