{% extends "stratosphere/inspinia.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Images{% endblock %}

{% block angular-app-name %}dashboardApp{% endblock %}

{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h1>Images</h1>
        </div>
    </div>

    <div class="wrapper wrapper-content" ng-controller="OperatingSystemListCtrl">
        <div class="row" id="loading-alert" style="display: none;">
            <div class="col-lg-12">
                <div class="alert alert-info" role="alert">Loading provider images and sizes...</div>
            </div>
        </div>
        <div class="row" id="refresh-provider-container" style="display: none;">
            <div class="col-lg-12">
                <div class="alert">
                    <button type="button" id="refresh-provider" class="btn btn-info">Refresh images and sizes</button>
                </div>
            </div>
        </div>
        <div class="row" id="operating-systems">
            <div class="col-lg-6" ng-repeat="os in operating_systems track by os.id" ng-cloak>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{$ os.name $}</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="operating-system form">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" ng-model="os.name" value="{$ os.name $}">
                            </div>
                            <div class="form-group" ng-repeat="provider in os.providers track by provider.id">
                                <label>{$ provider.pretty_name $}</label>
                                <input class="form-control"
                                    type="text"
                                    ng-model="provider.disk_image"
                                    placeholder="Search..."
                                    typeahead="item for item in getDiskImages($viewValue, provider.id)"
                                    typeahead-input-formatter="$model.name"
                                    typeahead-min-length="3"
                                    typeahead-on-select="onDiskImageSelected($item)"
                                    typeahead-wait-ms="500"
                                    typeahead-template-url="diskImageResult.html">
                                </input>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success" ng-click="update(os, $index)">Save</button>
                                <img src="{% static "stratosphere/loading.gif" %}" style="display: none;" id="operating-system-loading">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-primary" id="add-os-button" ng-click="create()"><i class="fa fa-plus"></i> Add</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_script %}
    function startCheckLoadedInterval() {
        clearInterval(window.checkLoadedInterval);

        window.checkLoadedInterval = setInterval(function() {
            $.ajax({
                url: '/providers/loaded/',
                method: 'GET',
                success: function(data) {
                    var loaded = data['loaded'];
                    $('#loading-alert').toggle(!loaded);
                    $('#refresh-provider-container').toggle(loaded);
                    if (loaded)
                        clearInterval(window.checkLoadedInterval);
                },
            });
        }, 1000);
    }

    $(document).ready(function() {
        startCheckLoadedInterval();

        $('#refresh-provider').click(function() {
            $.ajax({
                url: '/providers/refresh/',
                method: 'POST',
                success: function() {
                    $('#loading-alert').show();
                    $('#refresh-provider-container').hide();
                    startCheckLoadedInterval();
                }
            });
        });
    });
{% endblock %}

{% block style %}
    .operating-system select {
        width: 100%;
    }
{% endblock %}