{% extends "stratosphere/base.html" %}
{% load staticfiles %}

{% block content %}
    <script type="text/javascript">
        var dashboardApp = angular.module('dashboardApp', ['ngResource']).config(function($interpolateProvider) {
            $interpolateProvider.startSymbol('{$');
            $interpolateProvider.endSymbol('$}');
        });

        dashboardApp.config(['$resourceProvider', function($resourceProvider) {
            // Don't strip trailing slashes from calculated URLs
            $resourceProvider.defaults.stripTrailingSlashes = false;
        }]);

        dashboardApp.config(['$httpProvider', function($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        }]);

        dashboardApp.factory('Group', function($resource) {
            return $resource('/compute/:id');
        });

        dashboardApp.controller('ComputeGroupListCtrl', function ($scope, Group) {
            Group.query(function(data) {
                $scope.groups = data;
            });

            $scope.deleteEntry = function(id) {
                Group.delete({id: id}, function() {
                    for(var i = $scope.groups.length - 1; i >= 0; i--) {
                        if ($scope.groups[i].id == id) {
                            $scope.groups.splice(i, 1);
                        }
                    }
                });
            }

            $scope.group = {};

            $scope.update = function(group) {
                $scope.group = new Group(angular.copy(group));
                Group.save($scope.group, function() {
                    $scope.groups.push($scope.group);
                });
            }
        });

        dashboardApp.directive('avGroup', ['$timeout', function($timeout) {
            return {
                link: function($scope, element) {
                    // $timeout causes it to run after render, when .group-{$ state $} has been compiled
                    $timeout(function() {
                        if ($(element[0]).hasClass('group-TERMINATED')) {
                            $(element[0]).find('button').attr('disabled', 'true');
                        } else {
                            $(element[0]).find('button').removeAttr('disabled');
                        }
                    });
                }
            }
        }]);
    </script>

    <div class="row" ng-controller="ComputeGroupListCtrl">
        <div class="col-lg-6">
            {% csrf_token %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    Compute groups
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>CPU</th>
                            <th>Memory</th>
                            <th>Instance count</th>
                            <th>Instance states</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="group in groups" class="group group-{$ group.state $}" ng-cloak av-group>
                            <td>{$ group.name $}</td>
                            <td>{$ group.cpu $}</td>
                            <td>{$ group.memory $} MB</td>
                            <td>{$ group.instance_count $}</td>
                            <td>
                                <div ng-repeat="(provider_name, instance_count) in group.providers">
                                    <img ng-src="/static/stratosphere/{$ provider_name $}_icon.png" style="height: 16px;">
                                    {$ instance_count $}
                                </div>
                            </td>
                            <td class="text-right"><button type="button" class="btn btn-danger btn-xs delete-group" ng-click="deleteEntry(group.id)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Add Compute Group</div>
                <div class="panel-body">
                    <form class="form" name="form1">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="name" ng-model="group.name">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>CPU</label>
                                    <input id="cpu-slider" name="cpu" type="text" data-slider-min="1" data-slider-max="16" data-slider-step="1" data-slider-value="1" ng-init="group.cpu='1'" ng-model="group.cpu">
                                    <div id="cpu-slider-val">1</div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Memory</label>
                                    <input id="memory-slider" name="memory" type="text" data-slider-min="512" data-slider-max="8192" data-slider-step="512" data-slider-value="1024" ng-init="group.memory='1'" ng-model="group.memory">
                                    <div><span id="memory-slider-val">1024</span> MB</div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Instance count</label>
                                    <input id="instance-count-slider" name="instance_count" type="text" data-slider-min="1" data-slider-max="16" data-slider-step="1" data-slider-value="1" ng-init="group.instance_count='1'" ng-model="group.instance_count">
                                    <div id="instance-count-slider-val">1</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Deployment type</label>
                                    <div class="radio radio-primary">
                                        <input type="radio" name="deployment_type" ng-model="group.deployment_type" id="deployment_type_os" value="os">
                                        <label for="deployment_type_os">Operating system</label>
                                    </div>
                                    <div class="radio radio-primary">
                                        <input type="radio" name="deployment_type" ng-model="group.deployment_type" id="deployment_type_image" value="image">
                                        <label for="deployment_type_image">Disk image</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group" id="select-os-container">
                                    <label>Operating system</label>
                                    <select class="fancy-select" ng-model="group.operating_system" name="operating_system">
                                        <option></option>
                                        {% for image in os_images_map %}
                                            <option value="{{ image.id }}">{{ image.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group" id="select-image-container">
                                    <label>Disk image</label>
                                    <select class="fancy-select">
                                        <option></option>
                                        <option value="ubuntu_14">Ubuntu 14.04 (ami-84bba3c1)</option>
                                        <option value="ubuntu_12">Ubuntu 12.04 (ami-456ad56c)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Providers</label>
                            </div>
                        </div>
                        <div id="providers-list">
                            <div class="row">
                                <div class="form-group">
                                    {% for provider in possible_providers %}
                                        <div class="col-lg-3 text-center provider
                                            {% if not provider.available %}
                                                not-available
                                            {% endif %}
                                        " id="provider_choice_{{ provider.name }}">
                                            <div class="checkbox checkbox-success">
                                                <input type="checkbox" ng-model="group.provider_choice_{{ provider.name }}" name="provider_choice_{{ provider.name }}"><label></label>
                                            </div>
                                            <div class="click-area" style="height: 100%; position: relative;">
                                                {% if not provider.available %}
                                                    <div class="coming-soon">COMING SOON</div>
                                                {% endif %}

                                                {% with 'stratosphere/'|add:provider.name|add:'.png' as image_static %}
                                                    <img src="{% static image_static %}" style="margin-top: {{ provider.image_top_margin }};">
                                                {% endwith %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-4">
                                <button type="submit" class="btn btn-primary btn-lg" style="width: 100%; margin-top: 20px;" ng-click="update(group)" id="add-group-button" disabled>Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer>
        {% for provider in providers %}
            <button class="btn btn-success restore-button" provider="{{ provider.provider_name }}" style="display: none;">Restore {{ provider.pretty_name }}</button>
            <button class="btn btn-warning fail-button" provider="{{ provider.provider_name }}" style="display: none;">Simulate {{ provider.pretty_name }} Failure</button>
        {% endfor %}
    </footer>
{% endblock %}

{% block body_script %}
    var os_supported_providers = {
        {% for image, provider_configurations in os_images_map.items %}
            "{{ image.id }}": [
                {% for provider_configuration in provider_configurations %}
                    "{{ provider_configuration.provider_name }}",
                {% endfor %}
            ],
        {% endfor %}
    }

    var image_supported_providers = {
        ubuntu_14: ['aws', 'azure', 'linode', 'cloudsigma', 'softlayer'],
        ubuntu_12: ['aws', 'azure', 'linode', 'cloudsigma', 'google'],
    }

    function hide_unsupported_providers() {
        $('#providers-list .provider').addClass('disabled');
        $('#providers-list .provider.disabled input').removeAttr('disabled');
        $('#providers-list .provider input').removeProp('checked');

        if ($('input[name="deployment_type"]:checked').val() == 'image') {
            var selected_image = $('#select-image-container select').val();
            var supported_providers = image_supported_providers[selected_image];
            supported_providers.forEach(function(provider) {
                var provider = $('#provider_choice_' + provider);
                if (!provider.hasClass('not-available'))
                    provider.removeClass('disabled');
            });
        }
        else {
            var select_element = $('#select-os-container select');
            angular.element(select_element).triggerHandler('change');

            var selected_os = select_element.val();
            if (selected_os.length) {
                var supported_providers = os_supported_providers[selected_os];
                supported_providers.forEach(function(provider) {
                    var provider = $('#provider_choice_' + provider);
                    if (!provider.hasClass('not-available'))
                        provider.removeClass('disabled');
                });
            }
        }

        $('#providers-list .provider.disabled input').attr('disabled', 'true');
        $('#providers-list .provider:not(.disabled) input').prop('checked', 'true');

        $('#providers-list .provider input').each(function() {
            $(this).triggerHandler('change');
            angular.element($(this)).triggerHandler('click');
        });
    }

    $(document).ready(function() {
        {% for provider in providers %}
            {% if provider.simulated_failure %}
                $('button.restore-button[provider="{{ provider.provider_name }}"]').show();
            {% else %}
                $('button.fail-button[provider="{{ provider.provider_name }}"]').show();
            {% endif %}
        {% endfor %}

        var handleInputChange = function() {
            var name = $('input[name="name"]').val();
            var deployment_type = $('input[name="deployment_type"]:checked').val();

            var selected_provider_count = $('#providers-list').find('input[type="checkbox"]:checked').length;
            var selected_image_or_os = false;
            if (deployment_type == 'image')
                selected_image_or_os = $('#select-image-container select').val().length > 0;
            else if (deployment_type == 'os')
                selected_image_or_os = $('#select-os-container select').val().length > 0;

            var add_button = $('#add-group-button');
            console.log(name.length > 0, selected_provider_count > 0, selected_image_or_os);
            if (name.length > 0 && selected_provider_count > 0 && selected_image_or_os) {
                add_button.removeAttr('disabled');
            }
            else {
                add_button.attr('disabled', 'true');
            }
        };

        $('input, select').on('input change', handleInputChange);

        $('.restore-button').click(function() {
            var button = $(this);
            $.post('/provider/' + $(this).attr('provider') + '/restore/').done(function() {
                button.hide();
                $('button.fail-button[provider="' + button.attr('provider') + '"]').show();
            });
        });

        $('.fail-button').click(function() {
            var button = $(this);
            $.post('/provider/' + $(this).attr('provider') + '/fail/').done(function() {
                button.hide();
                $('button.restore-button[provider="' + button.attr('provider') + '"]').show();
            });
        });

        $('.fail-button').click(function() {
            $.post('/provider/' + $(this).attr('provider') + '/fail/');
        });

        var createSlider = function(inputElement, valueElement) {
            inputElement.slider();
            inputElement.on("slide", function(slideEvt) {
                valueElement.text(slideEvt.value);
                inputElement.val(slideEvt.value);
                angular.element(inputElement).triggerHandler('input');
            });
        }

        createSlider($('#cpu-slider'), $('#cpu-slider-val'));
        createSlider($('#memory-slider'), $('#memory-val'));
        createSlider($('#instance-count-slider'), $('#instance-count-val'));

        $("#memory-slider").slider();
        $("#memory-slider").on("slide", function(slideEvt) {
            $("#memory-slider-val").text(slideEvt.value);
        });

        $("#instance-count-slider").slider();
        $("#instance-count-slider").on("slide", function(slideEvt) {
            $("#instance-count-slider-val").text(slideEvt.value);
        });

        $('input[name="deployment_type"]').change(function() {
            angular.element($('')).triggerHandler('input');

            if ($(this).val() == 'image') {
                $('#select-os-container').hide();
                $('#select-image-container').show();
            }
            else {
                $('#select-image-container').hide();
                $('#select-os-container').show();
            }

            $('#providers-list').addClass('providers-selectable');

            hide_unsupported_providers();
        });

        $('#select-os-container select, #select-image-container select').on('change', function() {
            hide_unsupported_providers();
        });

        $('#providers-list .provider input').change(function() {
            var providerSelectArea = $(this).parents(".provider");

            if (this.checked)
                providerSelectArea.addClass('bg-success');
            else
                providerSelectArea.removeClass('bg-success');

            // currently unused
            $('#' + $(providerSelectArea).prop('id') + '-options').toggle(this.checked);
        });

        $('#providers-list .provider .click-area').click(function() {
            var input = $(this).parents('.provider').find('input');
            if (input.is(':visible') && !input.is(':disabled')) {
                if (input.get()[0].checked)
                    input.removeProp('checked');
                else
                    input.prop('checked', 'true');

                input.triggerHandler('change');
            }
        });
    });
{% endblock %}

{% block style %}
    .group-TERMINATED {
        background-color: #eee;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 0 20px;
        line-height: 60px;
        background-color: #F5F5F5;
        z-index: 5000;
    }

    .slider-selection {
        background: #BABABA;
    }
    .slider-track-high {
        background: white;
        border: 1px solid #BABABA;
    }

    .provider-options {
        display: none;
    }

    #select-os-container, #select-image-container {
        display: none;
    }

    .radio *, #providers-list * {
       -ms-user-select: none;
       -moz-user-select: -moz-none;
       -khtml-user-select: none;
       -webkit-user-select: none;
       user-select: none;
    }

    #providers-list {
        margin-top: 5px;
    }

    #providers-list .provider {
        height: 100px;
    }

    #providers-list .checkbox {
        display: none;
        position: absolute;
        top: 10px;
        left: 10px;
        margin: 0;
    }

    #providers-list.providers-selectable .checkbox {
        display: block;
    }

    #providers-list.providers-selectable .provider:not(.disabled),
    #providers-list.providers-selectable .provider:not(.disabled) * {
        cursor: pointer;
    }

    #providers-list img {
        /* makes them scale proportionally, height before width */
        max-width: 100%;
        max-height: 100px;
    }

    #providers-list .provider .coming-soon {
        position: absolute;
        top: 35px;
        left: 20px;
        color: red;
        font-size: 1.5em;
        z-index: 5;
    }

    #providers-list .provider.disabled,
    #providers-list .provider.not-available {
        background-color: #d8d8d8;
    }

    #providers-list .provider.disabled img,
    #providers-list .provider.not-available img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
{% endblock %}