{% extends "stratosphere/base.html" %}
{% load staticfiles %}

{% block angular-app-name %}dashboardApp{% endblock %}

{% block content %}
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.stack.js"></script>
    <script type="text/javascript" language="javascript" src="/static/stratosphere/jquery.flot.tooltip.min.js"></script>

    <script type="text/javascript">
        String.prototype.toProperCase = function () {
            return this.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
        };

        var dashboardApp = angular.module('dashboardApp', ['ngResource']).config(function($interpolateProvider) {
            $interpolateProvider.startSymbol('{$');
            $interpolateProvider.endSymbol('$}');
        });

        dashboardApp.config(['$resourceProvider', function($resourceProvider) {
            // Don't strip trailing slashes from calculated URLs
            $resourceProvider.defaults.stripTrailingSlashes = false;
        }]);

        dashboardApp.config(['$httpProvider', function($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        }]);

        dashboardApp.factory('Group', function($resource) {
            return $resource('/compute/:id');
        });

        dashboardApp.controller('ComputeGroupListCtrl', ['$scope', 'Group', '$timeout', '$interval',
                                                         function ($scope, Group, $timeout, $interval) {
            Group.query(function(data) {
                $scope.groups = data;
            });

            $interval(function() {
                Group.query(function(data) {
                    $scope.groups = data;
                });
            }, 1000);

            $scope.deleteEntry = function(id) {
                Group.delete({id: id}, function() {
                    for(var i = $scope.groups.length - 1; i >= 0; i--) {
                        if ($scope.groups[i].id == id) {
                            $scope.groups[i].state = 'TERMINATED';
                        }
                    }
                });
            }

            $scope.$watch('groups', function(newValue, oldValue) {
                $timeout(function() {
                    $('.group button').removeAttr('disabled');
                    $('.group-TERMINATED button').attr('disabled', true);

                    if (typeof newValue !== 'undefined') {
                        for (var i = 0; i < newValue.length; i++) {
                            var series = [{
                                data: [],
                                label: "Running",
                                lineWidth: 0,
                                color: "#5cb85c",
                                fill: 1,
                            },
                            {
                                data: [],
                                label: "Pending",
                                color: "#f0ad4e",
                                lineWidth: 0,
                                fill: 1,
                            },
                            {
                                data: [],
                                label: "Terminated",
                                color: "#d9534f",
                                lineWidth: 0,
                                fill: 1,
                            }];

                            var yaxis_ticks = [];

                            var j = 0;
                            var providers = newValue[i].providers;
                            var provider_names = Object.keys(providers);
                            provider_names.sort();
                            provider_names.forEach(function (provider_name) {
                                var provider = providers[provider_name];

                                yaxis_ticks.push([j, '<span>' + provider.pretty_name + '</span><img src="/static/stratosphere/' + provider_name + '_icon.png">']);

                                series[0].data.push([provider.running, j]);
                                series[1].data.push([provider.pending, j]);
                                series[2].data.push([provider.terminated, j]);
                                j++;
                            });

                            var options = {
                                xaxis: {
                                    tickLength: 0,
                                    tickFormatter: function() { return ''; },
                                },
                                yaxis: {
                                    ticks: yaxis_ticks,
                                    tickLength: 0,
                                },
                                series: {
                                    bars: {
                                        show: true,
                                        barWidth: .7,
                                        align: "center",
                                        horizontal: true,
                                        lineWidth: 0,
                                        fill: 1,
                                    },
                                    stack: true,
                                },
                                legend: {
                                    show: false,
                                },
                                grid: {
                                    borderWidth: 0,
                                    hoverable: true,
                                },
                                tooltip: {
                                    show: true,
                                    content: function(label, x, y, flotItem) {
                                        return label + ': ' + x;
                                    },
                                },
                            };

                            var placeholder = $('tr[group-id="' + newValue[i].id + '"] .graph-placeholder');
                            placeholder.plot(series, options);
                        }
                    }
                });
            }, true);

            $scope.update = function(group) {
                console.log(group);
                {% for provider in possible_providers %}
                    if (!$('input[name="provider_choice_{{ provider.name }}"]').is(':checked'))
                        delete group.provider_choice_{{ provider.name }};
                {% endfor %}
                console.log(group);
                $scope.group = new Group(angular.copy(group));
                Group.save($scope.group);
            }
        }]);

        dashboardApp.directive('avGroup', ['$timeout', '$compile', function($timeout, $compile) {
            return {
                link: function($scope, element) {
                    var name_cell = $(element).find('.group-name');
                    var state_name = name_cell.find('.state-name');
                    state_name.text('({$ group.state.toProperCase() $})');
                    name_cell.html($compile(name_cell.html())($scope));
                }
            }
        }]);
    </script>

    <div class="row" ng-controller="ComputeGroupListCtrl">
        <div class="col-lg-6">
            {% csrf_token %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    Compute groups
                </div>
                <table class="table table-striped compute-groups-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>CPU</th>
                            <th>Memory</th>
                            <th>Instances</th>
                            <th>Instance states</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="group in groups track by group.id" group-id="{$ group.id $}" class="group group-{$ group.state $}" state="{$ group.state $}" ng-cloak av-group>
                            <td class="group-name">
                                <!-- wrap in <span> to provide $compile a valid HTML structure in avGroup directive -->
                                <span>{$ group.name $} <small class="state-name"></small></span>
                            </td>
                            <td>{$ group.cpu $}</td>
                            <td>{$ group.memory $} MB</td>
                            <td>{$ group.instance_count $}</td>
                            <td class="group-providers-graph-cell">
                                <div class="graph-placeholder" style="height: 40px; width: 100%;"></div>
                            </td>
                            <td class="text-right"><button type="button" class="btn btn-danger btn-xs" ng-click="deleteEntry(group.id)"><i class="fa fa-times"></i> Terminate</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Add Compute Group</div>
                <div class="panel-body">
                    <form class="form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="name" ng-model="group.name">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>CPU</label>
                                    <input id="cpu-slider" name="cpu" type="text" data-slider-min="1" data-slider-max="16" data-slider-step="1" data-slider-value="1" ng-init="group.cpu='1'" ng-model="group.cpu">
                                    <div id="cpu-slider-val">1</div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Memory</label>
                                    <input id="memory-slider" name="memory" type="text" data-slider-min="512" data-slider-max="8192" data-slider-step="512" data-slider-value="1024" ng-init="group.memory='1'" ng-model="group.memory">
                                    <div><span id="memory-slider-val">1024</span> MB</div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Instances</label>
                                    <input id="instance-count-slider" name="instance_count" type="text" data-slider-min="1" data-slider-max="16" data-slider-step="1" data-slider-value="1" ng-init="group.instance_count='1'" ng-model="group.instance_count">
                                    <div id="instance-count-slider-val">1</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Authentication method</label>
                                    <select class="fancy-select" ng-model="group.authentication_method" name="authentication_method">
                                        <option></option>
                                        {% for method in authentication_methods %}
                                            <option value="{{ method.pk }}">{{ method.pretty_type }}: {{ method.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Deployment type</label>
                                    <div class="radio radio-primary">
                                        <input type="radio" name="deployment_type" ng-model="group.deployment_type" id="deployment_type_os" value="os">
                                        <label for="deployment_type_os">Operating system</label>
                                    </div>
                                    <div class="radio radio-primary">
                                        <input type="radio" name="deployment_type" ng-model="group.deployment_type" id="deployment_type_image" value="image">
                                        <label for="deployment_type_image">Disk image</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group" id="select-os-container">
                                    <label>Operating system</label>
                                    <select class="fancy-select" ng-model="group.operating_system" name="operating_system">
                                        <option></option>
                                        {% for image in os_images_map %}
                                            <option value="{{ image.pk }}">{{ image.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group" id="select-image-container">
                                    <label>Disk image</label>
                                    <select class="fancy-select">
                                        <option></option>
                                        <option value="ubuntu_14">Ubuntu 14.04 (ami-84bba3c1)</option>
                                        <option value="ubuntu_12">Ubuntu 12.04 (ami-456ad56c)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Providers</label>
                            </div>
                        </div>
                        <div id="providers-list">
                            <div class="row">
                                <div class="form-group">
                                    {% for provider in possible_providers %}
                                        <div class="col-lg-3 text-center provider
                                            {% if not provider.available %}
                                                not-available
                                            {% endif %}
                                        " id="provider_choice_{{ provider.name }}">
                                            <div class="checkbox checkbox-success">
                                                <input type="checkbox" ng-model="group.provider_choice_{{ provider.name }}" name="provider_choice_{{ provider.name }}"><label></label>
                                            </div>
                                            <div class="click-area" style="height: 100%; position: relative;">
                                                {% if not provider.available %}
                                                    <div class="coming-soon">COMING SOON</div>
                                                {% endif %}

                                                {% with 'stratosphere/'|add:provider.name|add:'.png' as image_static %}
                                                    <img src="{% static image_static %}" style="margin-top: {{ provider.image_top_margin }};">
                                                {% endwith %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-lg-offset-4">
                                <button type="submit" class="btn btn-primary btn-lg" style="width: 100%; margin-top: 20px;" ng-click="update(group)" id="add-group-button" disabled>Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer>
        {% for provider in providers %}
            <button class="btn btn-success restore-button" provider="{{ provider.provider_name }}" style="display: none;">Restore {{ provider.pretty_name }}</button>
            <button class="btn btn-warning fail-button" provider="{{ provider.provider_name }}" style="display: none;">Simulate {{ provider.pretty_name }} Failure</button>
        {% endfor %}
    </footer>
{% endblock %}

{% block body_script %}
    var os_supported_providers = {
        {% for image, provider_configurations in os_images_map.items %}
            "{{ image.id }}": [
                {% for provider_configuration in provider_configurations %}
                    "{{ provider_configuration.provider_name }}",
                {% endfor %}
            ],
        {% endfor %}
    }

    var image_supported_providers = {
        ubuntu_14: ['aws', 'azure', 'linode', 'cloudsigma', 'softlayer'],
        ubuntu_12: ['aws', 'azure', 'linode', 'cloudsigma', 'google'],
    }

    function hide_unsupported_providers() {
        $('#providers-list .provider').addClass('disabled');
        $('#providers-list .provider.disabled input').removeAttr('disabled');
        $('#providers-list .provider input').removeProp('checked');

        if ($('input[name="deployment_type"]:checked').val() == 'image') {
            var selected_image = $('#select-image-container select').val();
            var supported_providers = image_supported_providers[selected_image];
            supported_providers.forEach(function(provider) {
                var provider = $('#provider_choice_' + provider);
                if (!provider.hasClass('not-available'))
                    provider.removeClass('disabled');
            });
        }
        else {
            var select_element = $('#select-os-container select');
            // angular.element(select_element).triggerHandler('change');

            var selected_os = select_element.val();
            if (selected_os.length) {
                var supported_providers = os_supported_providers[selected_os];
                supported_providers.forEach(function(provider_name) {
                    var provider = $('#provider_choice_' + provider_name);
                    console.log(provider_name, provider);
                    if (!provider.hasClass('not-available'))
                        provider.removeClass('disabled');
                });
            }
        }

        $('#providers-list .provider.disabled input').attr('disabled', 'true');
        $('#providers-list .provider:not(.disabled) input').prop('checked', 'true');

        $('#providers-list .provider input').each(function() {
            $(this).triggerHandler('change');
            angular.element($(this)).triggerHandler('click');
        });
    }

    $(document).ready(function() {
        {% for provider in providers %}
            {% if provider.simulated_failure %}
                $('button.restore-button[provider="{{ provider.provider_name }}"]').show();
            {% else %}
                $('button.fail-button[provider="{{ provider.provider_name }}"]').show();
            {% endif %}
        {% endfor %}

        var handleInputChange = function() {
            var name = $('input[name="name"]').val();
            var deployment_type = $('input[name="deployment_type"]:checked').val();

            var selected_provider_count = $('#providers-list').find('input[type="checkbox"]:checked').length;
            var selected_image_or_os = false;
            if (deployment_type == 'image')
                selected_image_or_os = $('#select-image-container select').val().length > 0;
            else if (deployment_type == 'os')
                selected_image_or_os = $('#select-os-container select').val().length > 0;

            var add_button = $('#add-group-button');
            if (name.length > 0 && selected_provider_count > 0 && selected_image_or_os) {
                add_button.removeAttr('disabled');
            }
            else {
                add_button.attr('disabled', 'true');
            }
        };

        $('input, select').on('input change', handleInputChange);

        $('.restore-button').click(function() {
            var button = $(this);
            $.post('/provider/' + $(this).attr('provider') + '/restore/').done(function() {
                button.hide();
                $('button.fail-button[provider="' + button.attr('provider') + '"]').show();
            });
        });

        $('.fail-button').click(function() {
            var button = $(this);
            $.post('/provider/' + $(this).attr('provider') + '/fail/').done(function() {
                button.hide();
                $('button.restore-button[provider="' + button.attr('provider') + '"]').show();
            });
        });

        var createSlider = function(inputElement, valueElement) {
            inputElement.slider();
            inputElement.on("slide", function(slideEvt) {
                valueElement.text(slideEvt.value);
                inputElement.val(slideEvt.value);
                angular.element(inputElement).triggerHandler('input');
            });
        }

        createSlider($('#cpu-slider'), $('#cpu-slider-val'));
        createSlider($('#memory-slider'), $('#memory-val'));
        createSlider($('#instance-count-slider'), $('#instance-count-val'));

        $("#memory-slider").slider();
        $("#memory-slider").on("slide", function(slideEvt) {
            $("#memory-slider-val").text(slideEvt.value);
        });

        $("#instance-count-slider").slider();
        $("#instance-count-slider").on("slide", function(slideEvt) {
            $("#instance-count-slider-val").text(slideEvt.value);
        });

        $('input[name="deployment_type"]').change(function() {
            angular.element($('')).triggerHandler('input');

            if ($(this).val() == 'image') {
                $('#select-os-container').hide();
                $('#select-image-container').show();
            }
            else {
                $('#select-image-container').hide();
                $('#select-os-container').show();
            }

            $('#providers-list').addClass('providers-selectable');

            hide_unsupported_providers();
        });

        $('#select-os-container select, #select-image-container select').on('change', function() {
            hide_unsupported_providers();
        });

        $('#providers-list .provider input').change(function() {
            var providerSelectArea = $(this).parents(".provider");

            if (this.checked)
                providerSelectArea.addClass('bg-success');
            else
                providerSelectArea.removeClass('bg-success');

            // currently unused
            $('#' + $(providerSelectArea).prop('id') + '-options').toggle(this.checked);
        });

        $('#providers-list .provider .click-area').click(function() {
            var input = $(this).parents('.provider').find('input');
            if (input.is(':visible') && !input.is(':disabled')) {
                if (input.get()[0].checked)
                    input.removeProp('checked');
                else
                    input.prop('checked', 'true');

                input.triggerHandler('change');
            }
        });
    });
{% endblock %}

{% block style %}
    .flot-tick-label.tickLabel > * {
        display: inline-block;
        vertical-align: middle;
    }

    .flot-tick-label.tickLabel img {
        height: 12px;
        margin-left: 3px;
        margin-right: 12px;
    }

    .flotTip {
        border: 1px solid #999 !important;

        -webkit-box-shadow: 1px 1px 5px 0px rgba(153,153,153,1);
        -moz-box-shadow: 1px 1px 5px 0px rgba(153,153,153,1);
        box-shadow: 1px 1px 5px 0px rgba(153,153,153,1);
    }

    .compute-groups-table th,
    .compute-groups-table td {
        white-space: nowrap;
    }

    .compute-groups-table .group td {
        vertical-align: middle;
    }

    .group-providers-graph-cell {
        width: 99%;
    }

    .state-name {
        font-style: italic;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 0 20px;
        line-height: 60px;
        background-color: #F5F5F5;
        z-index: 5000;
    }

    .slider-selection {
        background: #BABABA;
    }
    .slider-track-high {
        background: white;
        border: 1px solid #BABABA;
    }

    .provider-options {
        display: none;
    }

    #select-os-container, #select-image-container {
        display: none;
    }

    .radio *, #providers-list * {
       -ms-user-select: none;
       -moz-user-select: -moz-none;
       -khtml-user-select: none;
       -webkit-user-select: none;
       user-select: none;
    }

    #providers-list {
        margin-top: 5px;
    }

    #providers-list .provider {
        height: 100px;
    }

    #providers-list .checkbox {
        display: none;
        position: absolute;
        top: 10px;
        left: 10px;
        margin: 0;
        z-index: 1;
    }

    #providers-list.providers-selectable .checkbox {
        display: block;
    }

    #providers-list.providers-selectable .provider:not(.disabled),
    #providers-list.providers-selectable .provider:not(.disabled) * {
        cursor: pointer;
    }

    #providers-list img {
        /* makes them scale proportionally, height before width */
        max-width: 100%;
        max-height: 100px;
    }

    #providers-list .provider .coming-soon {
        position: absolute;
        top: 35px;
        left: 20px;
        color: red;
        font-size: 1.5em;
        font-weight: 700;
        background-color: white;
        padding: 0 5px;
        z-index: 5;
    }

    #providers-list .provider.disabled,
    #providers-list .provider.not-available {
        background-color: #d8d8d8;
    }

    #providers-list .provider.disabled img,
    #providers-list .provider.not-available img {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
{% endblock %}