{% load static from staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html ng-app="{% block angular-app-name %}{% endblock %}">
    <script type="text/ng-template" id="diskImageResult.html">
        <a>      
            <span bind-html-unsafe="match.label | typeaheadHighlight:query">        
            </span>    
            {$ match.model.name $}
        </a>
    </script>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Aerovane | {% block title %}{% endblock %}</title>

        {% compress css %}
        <link href="{% static "stratosphere/instances-chart/instances-chart.css" %}" rel="stylesheet">

        <link href="{% static "stratosphere/intro.js-2.1.0/introjs.min.css" %}" rel="stylesheet">

        <!-- Bootstrap -->
        <link href="{% static "stratosphere/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

        <link href="{% static "stratosphere/bootstrap-slider/css/bootstrap-slider.min.css" %}" rel="stylesheet">
        <link href="{% static "stratosphere/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
        <link href="{% static "stratosphere/bootstrap-chosen.css" %}" rel="stylesheet">
        <link href="{% static "stratosphere/awesome-bootstrap-checkbox.css" %}" rel="stylesheet">
        <link href="{% static "stratosphere/isteven-multi-select/isteven-multi-select.css" %}" rel="stylesheet">

        <link href="{% static "stratosphere/inspinia/css/animate.css" %}" rel="stylesheet">
        <link href="{% static "stratosphere/inspinia/css/style.min.css" %}" rel="stylesheet">

        <link href="{% static "stratosphere/angular-ui-select/select.min.css" %}" rel="stylesheet">

        <link href="{% static "stratosphere/ion.rangeSlider-2.1.2/css/ion.rangeSlider.css" %}" rel="stylesheet">
        <link href="{% static "stratosphere/ion.rangeSlider-2.1.2/css/ion.rangeSlider.skinFlat.css" %}" rel="stylesheet">

        <link href="{% static "stratosphere/inspinia/css/plugins/nouslider/jquery.nouislider.css" %}" rel="stylesheet">
        {% endcompress %}

        <link href="{% static "stratosphere/a-logo-blue.png" %}" rel="shortcut icon" type="image/x-icon">

        <style>
            .page-heading {
                padding-bottom: 10px;
            }

            /* set explicitly to improve rendering performance while image is loading */
            .avatar-img {
                height: 48px;
                width: 48px;
            }

            @media (max-width: 768px) {
                /* default is to have a 10px bottom margin on the last child, which is ugly on mobile */
                .nav-second-level li:last-child {
                    margin-bottom: 0;
                }
            }

            /* select boxes are displayed inline with their labels by default */
            .mobile-select {
                display: block;
                width: 100%;
            }

            /* hides ng-cloak elements before Angular is loaded */
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
                display: none !important;
            }

            .provider-icon {
                height: 16px;
                margin-right: 5px;
            }

            .nav .provider-icon {
                margin-right: 10px;
            }

            .provider-link a *, .provider-link span, .public-ip * {
                display: inline-block;
                vertical-align: middle;
            }

            .provider-link img {
                height: 16px;
                margin-left: 5px;
            }

            .list-info-block .horizontal-element {
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;
            }

            .list-info-block .right-cell {
                padding-left: 4px;
            }

            {% block style %}
            {% endblock %}
        </style>

        <script type="text/javascript">
            window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
            heap.load("637279137");
        </script>
    </head>

    <body>
        <div id="wrapper">
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                <span>
                                    <img class="img-circle avatar-img" title="sdfsdf" src="{{ request.user.configuration.avatar_url }}">
                                </span>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear">
                                        <span class="block m-t-xs">
                                            <strong class="font-bold">Michael Storm</strong>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="logo-element">
                                AV
                            </div>
                        </li>
                        <li
                            {% if left_nav_section == "dashboard" %}
                                class="active"
                            {% endif %}
                        >
                            <a href="/"><i class="fa fa-tachometer"></i> <span class="nav-label">Dashboard</span></a>
                        </li>
                        <li
                            {% if left_nav_section == "groups" %}
                                class="active"
                            {% endif %}
                        >
                            <a href="index.html"><i class="fa fa-cubes"></i> <span class="nav-label">Compute groups</span> <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li
                                    {% if left_sub_nav_section == "add" %}
                                        class="active"
                                    {% endif %}
                                ><a href="/compute_groups/add/"><i class="fa fa-plus"></i> Create</a></li>
                                <li
                                    {% if left_sub_nav_section == "view" %}
                                        class="active"
                                    {% endif %}
                                ><a href="/compute_groups/"><i class="fa fa-table"></i> View</a></li>
                            </ul>
                        </li>
                        <li
                            {% if left_nav_section == "providers" %}
                                class="active"
                            {% endif %}
                        >
                            <a href="index.html"><i class="fa fa-cubes"></i> <span class="nav-label">Providers</span> <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li
                                    {% if left_sub_nav_section == "aws" %}
                                        class="active"
                                    {% endif %}
                                >
                                <a href="/providers/aws/" class="provider-link">
                                    <img class="provider-icon" src="{% static "stratosphere/aws_icon.png" %}"><!--
                                    --><span>AWS</span>
                                </a></li>
                            </ul>
                        </li>
                        <li
                            {% if left_nav_section == "authentication" %}
                                class="active"
                            {% endif %}
                        >
                            <a href="/authentication/"><i class="fa fa-key"></i> <span class="nav-label">Authentication</span></a>
                        </li>
                        <li
                            {% if left_nav_section == "images" %}
                                class="active"
                            {% endif %}
                        >
                            <a href="/images/"><i class="fa fa-object-group"></i> <span class="nav-label">Images</span></a>
                        </li>
                    </ul>

                </div>
            </nav>

            <div id="page-wrapper" class="gray-bg dashbard-1">
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                            <a href="/" class="navbar-brand" style="padding: 18px 15px 15px 15px;">Aerovane</a>
                            <!--<form role="search" class="navbar-form-custom" action="search_results.html">
                                <div class="form-group">
                                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                                </div>
                            </form>-->
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <span class="m-r-sm text-muted welcome-message"></span>
                            </li>
                            <!--<li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                                </a>
                                <ul class="dropdown-menu dropdown-messages">
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle" src="{% static "stratosphere/inspinia/img/a7.jpg" %}">
                                            </a>
                                            <div class="media-body">
                                                <small class="pull-right">46h ago</small>
                                                <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                                <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="text-center link-block">
                                            <a href="mailbox.html">
                                                <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                                </a>
                                <ul class="dropdown-menu dropdown-alerts">
                                    <li>
                                        <a href="mailbox.html">
                                            <div>
                                                <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                                <span class="pull-right text-muted small">4 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="text-center link-block">
                                            <a href="notifications.html">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>-->

                            {% if request.user.is_authenticated %}
                                <li>
                                    <a href="/accounts/logout/"><i class="fa fa-sign-out"></i> Log out</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>

                {% block content %}
                {% endblock %}
            </div>
        </div>

        {% compress js %}
        <!-- load before Angular so that all selectors can be used -->
        <script src="{% static "stratosphere/inspinia/js/jquery-2.1.1.js" %}"></script>

        <script src="{% static "stratosphere/angular.min.js" %}"></script>
        <script src="{% static "stratosphere/angular-resource.min.js" %}"></script>
        <script src="{% static "stratosphere/isteven-multi-select/isteven-multi-select.js" %}"></script>
        <script src="{% static "stratosphere/angular-ui-select/select.min.js" %}"></script>
        <script src="{% static "stratosphere/ui-bootstrap-tpls-0.14.3.min.js" %}"></script>

        <script src="{% static "stratosphere/angular-ui-select/select.min.js" %}"></script>

        <script src="{% static "stratosphere/instances-chart/instances-chart.js" %}"></script>

        <script src="{% static "stratosphere/intro.js-2.1.0/intro.min.js" %}"></script>

        <!-- Mainly scripts -->
        <script src="{% static "stratosphere/inspinia/js/bootstrap.min.js" %}"></script>
        <script src="{% static "stratosphere/inspinia/js/plugins/metisMenu/jquery.metisMenu.js" %}"></script>
        <script src="{% static "stratosphere/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js" %}"></script>

        <!-- Flot -->
        <script src="{% static "stratosphere/flot-0.8.3/jquery.flot.min.js" %}"></script>
        <script src="{% static "stratosphere/flot-0.8.3/jquery.flot.stack.js" %}"></script>
        <script src="{% static "stratosphere/flot-0.8.3/jquery.flot.time.js" %}"></script>

        <!-- Custom and plugin javascript -->
        <script src="{% static "stratosphere/inspinia/js/inspinia.js" %}"></script>
        <script src="{% static "stratosphere/inspinia/js/plugins/nouslider/jquery.nouislider.min.js" %}"></script>

        <script src="{% static "stratosphere/chosen/js/chosen.jquery.min.js" %}"></script>

        <script src="{% static "stratosphere/ion.rangeSlider-2.1.2/js/ion.rangeSlider.min.js" %}"></script>
        {% endcompress %}

        <script>
          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }
          var csrftoken = getCookie('csrftoken');
          function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }
          $.ajaxSetup({
            beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
            }
          });

          $('.fancy-select').chosen({
              width: '100%'
          });

          // chosen doesn't support mobile devices
          $('.fancy-select').each(function() {
            if ($(this).css('display') != 'none')
              $(this).addClass('mobile-select');
          });

          {% block body_script %}
          {% endblock %}
        </script>

        <script type="text/javascript">
            var doughnutOptions = {
                segmentShowStroke: true,
                segmentStrokeColor: "#fff",
                segmentStrokeWidth: 2,
                percentageInnerCutout: 45, // This is 0 for Pie charts
                animationSteps: 100,
                animationEasing: "easeOutBounce",
                animateRotate: true,
                animateScale: false,
                tooltipTemplate: "<%= label %>: $<%= Number((value / 1000) * 24 * 30).toFixed(2) %>/mo"
            };

            var doughnutChartFillColors = [
                "#aec7e8",
                "#ffbb78",
                "#98df8a",
                "#ff9896",
                "#c5b0d5",
                "#c49c94",
                "#f7b6d2",
                "#c7c7c7",
                "#dbdb8d",
                "#9edae5",
            ];

            var doughnutChartHighlightColors = [
                "#1f77b4",
                "#ff7f0e",
                "#2ca02c",
                "#d62728",
                "#9467bd",
                "#8c564b",
                "#e377c2",
                "#7f7f7f",
                "#bcbd22",
                "#17becf",
            ];

            function updateDoughnutChart(chart, newValue, nameKey) {
                // all-zero values break Chart.js
                var hasNonZeroElement = false;
                for (var i = 0; i < newValue.length; i++) {
                    if (newValue[i].cost > 0)
                        hasNonZeroElement = true;
                }

                if (!hasNonZeroElement)
                    newValue = [];

                for (var i = 0; i < newValue.length; i++) {
                    var segment;
                    if (i < chart.segments.length)
                        segment = chart.segments[i];
                    else {
                        segment = new Object();
                    }

                    segment.label = newValue[i][nameKey];
                    segment.value = Number(newValue[i].cost) * 1000;

                    // prevent elements from changing their color because others have been deleted
                    var colorIndex = newValue.indexOf(newValue[i]);
                    segment.color = doughnutChartFillColors[colorIndex % doughnutChartFillColors.length];
                    segment.highlight = doughnutChartHighlightColors[colorIndex % doughnutChartHighlightColors.length];

                    if (i >= chart.segments.length)
                        chart.addData(segment);
                }

                var lengthDiff = chart.segments.length - newValue.length;
                if (lengthDiff > 0)
                    chart.segments.splice(newValue.length, lengthDiff);

                chart.update();
            }

            function createDoughnutChart(canvasElementId) {
                var chartNode = document.getElementById(canvasElementId);
                var chart;
                if (chartNode != null) {
                    var ctx = chartNode.getContext("2d");
                    chart = new Chart(ctx).Doughnut([], doughnutOptions);
                }
                else
                    chart = null;

                return chart;
            }

            var compute_group_id = "{{ compute_group_id|default:"" }}";
            if (compute_group_id.length == 0)
                compute_group_id = null;

            $(document).ready(function() {
                if ($('#instances-chart').length)
                    setUpInstancesChart(compute_group_id);
            });

            var dashboardApp = angular.module('dashboardApp', ['ngResource', 'isteven-multi-select', 'ui.bootstrap'])
                .config(function ($interpolateProvider) {
                    $interpolateProvider.startSymbol('{$');
                    $interpolateProvider.endSymbol('$}');
                });

            dashboardApp.config(['$resourceProvider', function($resourceProvider) {
                // Don't strip trailing slashes from calculated URLs
                $resourceProvider.defaults.stripTrailingSlashes = false;
            }]);

            dashboardApp.config(['$httpProvider', function($httpProvider) {
                $httpProvider.defaults.xsrfCookieName = 'csrftoken';
                $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
            }]);

            dashboardApp.factory('Group', function($resource) {
                return $resource('/compute/:id/');
            });

            dashboardApp.factory('Provider', function($resource) {
                return $resource('/providers/:id/');
            });

            dashboardApp.factory('OperatingSystem', function($resource) {
                return $resource('/operating_system/:id/');
            });

            dashboardApp.controller('OperatingSystemListCtrl',
                                    ['$scope', 'OperatingSystem', '$http',
                                     function ($scope, OperatingSystem, $http) {
                OperatingSystem.query(function(data) {
                    $scope.operating_systems = data;
                });

                $scope.create = function() {
                    var providers = [
                        {% for provider in providers %}
                            {
                                id: "{{ provider.pk }}",
                                pretty_name: "{{ provider.provider.pretty_name }}",
                            },
                        {% endfor %}
                    ];
                    $scope.operating_systems.push(new OperatingSystem({providers: providers}));
                };

                $scope.update = function(os, index) {
                    OperatingSystem.save(os, function(data) {
                        $scope.operating_systems[index].id = data.id;
                        $scope.operating_systems[index].deletable = true;
                    });
                };

                $scope.delete = function(os, index) {
                    OperatingSystem.delete(os, function(data) {
                        $scope.operating_systems.splice(index, 1);
                    });
                };

                angular.extend($scope, {
                    onDiskImageSelected: function (item, model, label) {
                        setTimeout(function() {
                            $(document.activeElement).val(item.name);
                        });
                    },

                    getDiskImages: function (val, provider_id) {
                        return $http.get('/providers/' + provider_id + '/disk_images/', {
                            params: {
                                query: val,
                            }
                        }).then(function (res) {
                            var disk_images = [];
                            angular.forEach(res.data, function(disk_image){
                                disk_images.push(disk_image);
                            });
                            return disk_images;
                        });
                    },
                });
            }]);

            dashboardApp.controller('ComputeGroupCtrl', ['$scope', 'Group', '$interval',
                                    function ($scope, Group, $interval) {
                Group.query({id: compute_group_id}, function(data) {
                    $scope.group = data[0];
                });

                $scope.hourly_cost = function(group) {
                    return group.price * 24;
                }

                $interval(function() {
                    Group.query({id: compute_group_id}, function(data) {
                        $scope.group = data[0];
                    });
                }, 3000);
            }]);

            dashboardApp.controller('ProviderListCtrl', ['$scope', 'Provider', '$timeout', '$interval', '$http',
                                                         function ($scope, Provider, $timeout, $interval, $http) {
                Provider.query(function(data) {
                    $scope.providers = data;
                });

                var changingEnabled = false;

                $interval(function() {
                    Provider.query(function(data) {
                        // fixes race condition between user changing value and receiving periodic update
                        if (!changingEnabled)
                            $scope.providers = data;
                    });
                }, 3000);

                $scope.changeProviderEnabled = function(provider) {
                    changingEnabled = true;
                    $http.post('/providers/' + provider.id + '/enabled/', {enabled: provider.enabled}).then(function() {
                            changingEnabled = false;
                        }
                    );
                }

                $scope.costDoughnutChart = createDoughnutChart("providerCostDoughnutChart");

                $scope.$watch('providers', function(newValue, oldValue) {
                    $timeout(function() {
                        if (typeof newValue !== 'undefined') {
                            newValue.sort(function(a, b) { return a.id > b.id; });

                            if ($scope.costDoughnutChart != null)
                                updateDoughnutChart($scope.costDoughnutChart, newValue, "pretty_name");
                        }
                    });
                }, true);
            }]);

            dashboardApp.controller('ComputeGroupListCtrl', ['$scope', 'Group', '$timeout', '$interval', '$http',
                                                             function ($scope, Group, $timeout, $interval, $http) {
                Group.query(function(data) {
                    $scope.groups = data;
                });

                $interval(function() {
                    Group.query(function(data) {
                        $scope.groups = data;
                    });
                }, 3000);

                $scope.deleteEntry = function(id) {
                    Group.delete({id: id}, function() {
                        for(var i = $scope.groups.length - 1; i >= 0; i--) {
                            if ($scope.groups[i].id == id) {
                                $scope.groups[i].state = 'DESTROYED';
                            }
                        }
                    });
                }

                $scope.costDoughnutChart = createDoughnutChart("computeGroupCostDoughnutChart");

                $scope.$watch('groups', function(newValue, oldValue) {
                    $timeout(function() {
                        $('.group button').removeAttr('disabled');
                        $('.group-DESTROYED button').attr('disabled', true);

                        if (typeof newValue !== 'undefined') {
                            newValue.sort(function(a, b) { return a.created_at > b.created_at; });

                            if ($scope.costDoughnutChart != null)
                                updateDoughnutChart($scope.costDoughnutChart, newValue, "name");

                            for (var i = 0; i < newValue.length; i++) {
                                var series = [{
                                    data: [],
                                    label: "Running",
                                    lineWidth: 0,
                                    color: "#5cb85c",
                                    fill: 1,
                                },
                                {
                                    data: [],
                                    label: "Pending",
                                    color: "#f0ad4e",
                                    lineWidth: 0,
                                    fill: 1,
                                },
                                {
                                    data: [],
                                    label: "Unavailable",
                                    color: "#d9534f",
                                    lineWidth: 0,
                                    fill: 1,
                                }];

                                var yaxis_ticks = [];

                                var j = 0;
                                var providers = newValue[i].providers;
                                var provider_names = Object.keys(providers);
                                provider_names.sort();
                                provider_names.forEach(function (provider_name) {
                                    var provider = providers[provider_name];

                                    yaxis_ticks.push([j, '<span>' + provider.pretty_name + '</span><img src="' + provider.icon_url + '">']);

                                    series[0].data.push([provider.running, j]);
                                    series[1].data.push([provider.pending, j]);
                                    series[2].data.push([provider.failed, j]);
                                    j++;
                                });

                                var options = {
                                    xaxis: {
                                        tickLength: 0,
                                        tickFormatter: function() { return ''; },
                                    },
                                    yaxis: {
                                        ticks: yaxis_ticks,
                                        tickLength: 0,
                                    },
                                    series: {
                                        bars: {
                                            show: true,
                                            barWidth: .7,
                                            align: "center",
                                            horizontal: true,
                                            lineWidth: 0,
                                            fill: 1,
                                        },
                                        stack: true,
                                    },
                                    legend: {
                                        show: false,
                                    },
                                    grid: {
                                        borderWidth: 0,
                                        hoverable: true,
                                    },
                                    tooltip: true,
                                    tooltipOpts: {
                                        show: true,
                                        content: function(label, x, y, flotItem) {
                                            return label + ': ' + x;
                                        },
                                    },
                                };

                                var placeholder = $('tr[group-id="' + newValue[i].id + '"] .graph-placeholder');
                                placeholder.height(18 * provider_names.length);
                                placeholder.plot(series, options);
                            }
                        }
                    });
                }, true);

                $scope.update = function(group) {
                    $('#add-group-button').prop('disabled', true);

                    {% for provider in possible_providers %}
                        if (!$('input[name="provider_choice_{{ provider.name }}"]').is(':checked'))
                            delete group.provider_choice_{{ provider.name }};
                    {% endfor %}

                    $scope.group = new Group(angular.copy(group));
                    Group.save($scope.group, function(created_group) {
                        window.location.href = '/compute_groups/' + created_group.id + '/';
                    });
                }
            }]);
        </script>
    </body>
</html>
