{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="{% block angular-app-name %}{% endblock %}">
    <script type="text/ng-template" id="diskImageResult.html">
        <a>      
            <span bind-html-unsafe="match.label | typeaheadHighlight:query">        
            </span>    
            {$ match.model.name $}
        </a>
    </script>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Aerovane | Dashboard</title>

        <!-- Bootstrap -->
        <link href="{% static "stratosphere/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

        <link href="{% static "stratosphere/bootstrap-slider/css/bootstrap-slider.min.css" %}" rel="stylesheet">
        <link href="{% static "stratosphere/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
        <link href="{% static "stratosphere/bootstrap-chosen.css" %}" rel="stylesheet">
        <link href="{% static "stratosphere/awesome-bootstrap-checkbox.css" %}" rel="stylesheet">
        <link href="{% static "stratosphere/isteven-multi-select/isteven-multi-select.css" %}" rel="stylesheet">

        <!-- Toastr style -->
        <link href="/static/stratosphere/inspinia/css/plugins/toastr/toastr.min.css" rel="stylesheet">

        <!-- Gritter -->
        <link href="/static/stratosphere/inspinia/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

        <link href="/static/stratosphere/inspinia/css/animate.css" rel="stylesheet">
        <link href="/static/stratosphere/inspinia/css/style.css" rel="stylesheet">

        <link href="/static/stratosphere/angular-ui-select/select.min.css" rel="stylesheet">

        <link rel="shortcut icon" type="image/x-icon" href="{% static "stratosphere/a-logo-blue.png" %}" />

        <!-- load before Angular so that all selectors can be used -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <script src="{% static "stratosphere/angular.js" %}"></script>
        <script src="{% static "stratosphere/angular-resource.js" %}"></script>
        <script src="{% static "stratosphere/isteven-multi-select/isteven-multi-select.js" %}"></script>
        <script src="/static/stratosphere/angular-ui-select/select.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>

        <script type="text/javascript">
            String.prototype.toProperCase = function () {
                return this.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
            };

            var dashboardApp = angular.module('dashboardApp', ['ngResource', 'isteven-multi-select', 'ui.bootstrap'])
                .config(function ($interpolateProvider) {
                    $interpolateProvider.startSymbol('{$');
                    $interpolateProvider.endSymbol('$}');
                });

            dashboardApp.config(['$resourceProvider', function($resourceProvider) {
                // Don't strip trailing slashes from calculated URLs
                $resourceProvider.defaults.stripTrailingSlashes = false;
            }]);

            dashboardApp.config(['$httpProvider', function($httpProvider) {
                $httpProvider.defaults.xsrfCookieName = 'csrftoken';
                $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
            }]);

            dashboardApp.factory('Group', function($resource) {
                return $resource('/compute/:id/');
            });

            dashboardApp.factory('OperatingSystem', function($resource) {
                return $resource('/operating_system/:id/');
            });

            dashboardApp.controller('OperatingSystemListCtrl',
                                    ['$scope', 'OperatingSystem', '$http',
                                     function ($scope, OperatingSystem, $http) {
                OperatingSystem.query(function(data) {
                    $scope.operating_systems = data;
                });

                $scope.create = function() {
                    var providers = [
                        {% for provider in providers %}
                            {
                                id: {{ provider.pk }},
                                pretty_name: "{{ provider.pretty_name }}",
                            },
                        {% endfor %}
                    ];
                    $scope.operating_systems.push(new OperatingSystem({providers: providers}));
                };

                $scope.update = function(os, index) {
                    OperatingSystem.save(os, function(data) {
                        $scope.operating_systems[index].id = data.id;
                    });
                };

                angular.extend($scope, {
                    onDiskImageSelected: function (item, model, label) {
                        setTimeout(function() {
                            $(document.activeElement).val(item.name);
                        });
                    },

                    getDiskImages: function (val, provider_id) {
                        return $http.get('/providers/' + provider_id + '/disk_images/', {
                            params: {
                                query: val,
                            }
                        }).then(function (res) {
                            var disk_images = [];
                            angular.forEach(res.data, function(disk_image){
                                disk_images.push(disk_image);
                            });
                            return disk_images;
                        });
                    },
                });
            }]);

            dashboardApp.controller('ComputeGroupListCtrl', ['$scope', 'Group', '$timeout', '$interval',
                                                             function ($scope, Group, $timeout, $interval) {
                Group.query(function(data) {
                    $scope.groups = data;
                });

                $interval(function() {
                    Group.query(function(data) {
                        $scope.groups = data;
                    });
                }, 1000);

                $scope.deleteEntry = function(id) {
                    Group.delete({id: id}, function() {
                        for(var i = $scope.groups.length - 1; i >= 0; i--) {
                            if ($scope.groups[i].id == id) {
                                $scope.groups[i].state = 'TERMINATED';
                            }
                        }
                    });
                }

                $scope.$watch('groups', function(newValue, oldValue) {
                    $timeout(function() {
                        $('.group button').removeAttr('disabled');
                        $('.group-TERMINATED button').attr('disabled', true);

                        if (typeof newValue !== 'undefined') {
                            for (var i = 0; i < newValue.length; i++) {
                                var series = [{
                                    data: [],
                                    label: "Running",
                                    lineWidth: 0,
                                    color: "#5cb85c",
                                    fill: 1,
                                },
                                {
                                    data: [],
                                    label: "Pending",
                                    color: "#f0ad4e",
                                    lineWidth: 0,
                                    fill: 1,
                                },
                                {
                                    data: [],
                                    label: "Terminated",
                                    color: "#d9534f",
                                    lineWidth: 0,
                                    fill: 1,
                                }];

                                var yaxis_ticks = [];

                                var j = 0;
                                var providers = newValue[i].providers;
                                var provider_names = Object.keys(providers);
                                provider_names.sort();
                                provider_names.forEach(function (provider_name) {
                                    var provider = providers[provider_name];

                                    yaxis_ticks.push([j, '<span>' + provider.pretty_name + '</span><img src="/static/stratosphere/' + provider_name + '_icon.png">']);

                                    series[0].data.push([provider.running, j]);
                                    series[1].data.push([provider.pending, j]);
                                    series[2].data.push([provider.terminated, j]);
                                    j++;
                                });

                                var options = {
                                    xaxis: {
                                        tickLength: 0,
                                        tickFormatter: function() { return ''; },
                                    },
                                    yaxis: {
                                        ticks: yaxis_ticks,
                                        tickLength: 0,
                                    },
                                    series: {
                                        bars: {
                                            show: true,
                                            barWidth: .7,
                                            align: "center",
                                            horizontal: true,
                                            lineWidth: 0,
                                            fill: 1,
                                        },
                                        stack: true,
                                    },
                                    legend: {
                                        show: false,
                                    },
                                    grid: {
                                        borderWidth: 0,
                                        hoverable: true,
                                    },
                                    tooltip: {
                                        show: true,
                                        content: function(label, x, y, flotItem) {
                                            return label + ': ' + x;
                                        },
                                    },
                                };

                                var placeholder = $('tr[group-id="' + newValue[i].id + '"] .graph-placeholder');
                                placeholder.plot(series, options);
                            }
                        }
                    });
                }, true);

                $scope.update = function(group) {
                    {% for provider in possible_providers %}
                        if (!$('input[name="provider_choice_{{ provider.name }}"]').is(':checked'))
                            delete group.provider_choice_{{ provider.name }};
                    {% endfor %}

                    $scope.group = new Group(angular.copy(group));
                    Group.save($scope.group);
                }
            }]);

            dashboardApp.directive('avGroup', ['$timeout', '$compile', function($timeout, $compile) {
                return {
                    link: function($scope, element) {
                        var name_cell = $(element).find('.group-name');
                        var state_name = name_cell.find('.state-name');
                        state_name.text('({$ group.state.toProperCase() $})');
                        name_cell.html($compile(name_cell.html())($scope));
                    }
                }
            }]);
        </script>

        <style>
            {% block style %}
            {% endblock %}
        </style>
    </head>

    <body>
        <div id="wrapper">
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                <span>
                                    <img class="img-circle" src="{{ request.user.configuration.avatar_url }}">
                                </span>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear">
                                        <span class="block m-t-xs">
                                            <strong class="font-bold">Michael Storm</strong>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="logo-element">
                                AV+
                            </div>
                        </li>
                        <li
                            {% if left_nav_section == "dashboard" %}
                                class="active"
                            {% endif %}
                        >
                            <a href="index.html"><i class="fa fa-cubes"></i> <span class="nav-label">Compute groups</span> <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li
                                    {% if left_sub_nav_section == "view" %}
                                        class="active"
                                    {% endif %}
                                ><a href="/compute_groups/"><i class="fa fa-table"></i> View</a></li>
                                <li
                                    {% if left_sub_nav_section == "add" %}
                                        class="active"
                                    {% endif %}
                                ><a href="/compute_groups/add/"><i class="fa fa-plus"></i> Add</a></li>
                            </ul>
                        </li>
                        <li
                            {% if left_nav_section == "providers" %}
                                class="active"
                            {% endif %}
                        >
                            <a href="/providers/"><i class="fa fa-cogs"></i> <span class="nav-label">Providers</span></a>
                        </li>
                        <li
                            {% if left_nav_section == "authentication" %}
                                class="active"
                            {% endif %}
                        >
                            <a href="/authentication/"><i class="fa fa-key"></i> <span class="nav-label">Authentication</span></a>
                        </li>
                        <li
                            {% if left_nav_section == "images" %}
                                class="active"
                            {% endif %}
                        >
                            <a href="/images/"><i class="fa fa-object-group"></i> <span class="nav-label">Images</span></a>
                        </li>
                    </ul>

                </div>
            </nav>

            <div id="page-wrapper" class="gray-bg dashbard-1">
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                            <a href="/" class="navbar-brand" style="padding: 18px 15px 15px 15px;">Aerovane</a>
                            <!--<form role="search" class="navbar-form-custom" action="search_results.html">
                                <div class="form-group">
                                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                                </div>
                            </form>-->
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <span class="m-r-sm text-muted welcome-message"></span>
                            </li>
                            <!--<li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                                </a>
                                <ul class="dropdown-menu dropdown-messages">
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle" src="/static/stratosphere/inspinia/img/a7.jpg">
                                            </a>
                                            <div class="media-body">
                                                <small class="pull-right">46h ago</small>
                                                <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                                <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="text-center link-block">
                                            <a href="mailbox.html">
                                                <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                                </a>
                                <ul class="dropdown-menu dropdown-alerts">
                                    <li>
                                        <a href="mailbox.html">
                                            <div>
                                                <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                                <span class="pull-right text-muted small">4 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="text-center link-block">
                                            <a href="notifications.html">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>-->

                            {% if request.user.is_authenticated %}
                                <li>
                                    <a href="/accounts/logout/"><i class="fa fa-sign-out"></i> Log out</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                  {% block content %}
                  {% endblock %}
            </div>
        </div>

        <div class="footer fixed">
            {% block footer %}
            {% endblock %}
        </div>

        <!-- Mainly scripts -->
        <script src="/static/stratosphere/inspinia/js/jquery-2.1.1.js"></script>
        <script src="/static/stratosphere/inspinia/js/bootstrap.min.js"></script>
        <script src="/static/stratosphere/inspinia/js/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script src="/static/stratosphere/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

        <!-- Flot -->
        <script src="/static/stratosphere/inspinia/js/plugins/flot/jquery.flot.js"></script>
        <script src="/static/stratosphere/inspinia/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
        <script src="/static/stratosphere/inspinia/js/plugins/flot/jquery.flot.spline.js"></script>
        <script src="/static/stratosphere/inspinia/js/plugins/flot/jquery.flot.resize.js"></script>
        <script src="/static/stratosphere/inspinia/js/plugins/flot/jquery.flot.pie.js"></script>

        <!-- Peity -->
        <script src="/static/stratosphere/inspinia/js/plugins/peity/jquery.peity.min.js"></script>
        <script src="/static/stratosphere/inspinia/js/demo/peity-demo.js"></script>

        <!-- Custom and plugin javascript -->
        <script src="/static/stratosphere/inspinia/js/inspinia.js"></script>
        <script src="/static/stratosphere/inspinia/js/plugins/pace/pace.min.js"></script>

        <!-- jQuery UI -->
        <script src="/static/stratosphere/inspinia/js/plugins/jquery-ui/jquery-ui.min.js"></script>

        <!-- GITTER -->
        <script src="/static/stratosphere/inspinia/js/plugins/gritter/jquery.gritter.min.js"></script>

        <!-- Sparkline -->
        <script src="/static/stratosphere/inspinia/js/plugins/sparkline/jquery.sparkline.min.js"></script>

        <!-- Sparkline demo data  -->
        <script src="/static/stratosphere/inspinia/js/demo/sparkline-demo.js"></script>

        <!-- ChartJS-->
        <script src="/static/stratosphere/inspinia/js/plugins/chartJs/Chart.min.js"></script>

        <!-- Toastr -->
        <script src="/static/stratosphere/inspinia/js/plugins/toastr/toastr.min.js"></script>

        <script src="{% static "stratosphere/chosen/js/chosen.jquery.min.js" %}"></script>

        <link href="/static/stratosphere/ion.rangeSlider-2.1.2/css/ion.rangeSlider.css" rel="stylesheet">
        <link href="/static/stratosphere/ion.rangeSlider-2.1.2/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">

        <script src="/static/stratosphere/ion.rangeSlider-2.1.2/js/ion.rangeSlider.min.js"></script>

        <script>
          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }
          var csrftoken = getCookie('csrftoken');
          function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }
          $.ajaxSetup({
            beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
            }
          });

          $('.fancy-select').chosen({
              width: '100%'
          });

          {% block body_script %}
          {% endblock %}
        </script>
    </body>
</html>
