{% load static from staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html ng-app="{% block angular-app-name %}{% endblock %}">
    <script type="text/ng-template" id="diskImageResult.html">
        <a>      
            <span bind-html-unsafe="match.label | typeaheadHighlight:query">        
            </span>    
            &lt;{$ match.model.provider_external_id $}&gt; {$ match.model.name $}
        </a>
    </script>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Aerovane | {% block title %}{% endblock %}</title>

        {% compress css %}
        <link href="{% static "stratosphere/instances-chart/instances-chart.css" %}" rel="stylesheet">

        <!-- Bootstrap -->
        <link href="{% static "stratosphere/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

        <link href="{% static "stratosphere/bootstrap-slider/css/bootstrap-slider.min.css" %}" rel="stylesheet">
        <link href="{% static "stratosphere/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
        <link href="{% static "stratosphere/bootstrap-chosen.css" %}" rel="stylesheet">
        <link href="{% static "stratosphere/awesome-bootstrap-checkbox.css" %}" rel="stylesheet">
        <link href="{% static "stratosphere/isteven-multi-select/isteven-multi-select.css" %}" rel="stylesheet">

        <link href="{% static "stratosphere/inspinia/css/animate.css" %}" rel="stylesheet">
        <link href="{% static "stratosphere/inspinia/css/style.min.css" %}" rel="stylesheet">

        <link href="{% static "stratosphere/angular-ui-select/select.min.css" %}" rel="stylesheet">

        <link href="{% static "stratosphere/ion.rangeSlider-2.1.2/css/ion.rangeSlider.css" %}" rel="stylesheet">
        <link href="{% static "stratosphere/ion.rangeSlider-2.1.2/css/ion.rangeSlider.skinFlat.css" %}" rel="stylesheet">

        <link href="{% static "stratosphere/inspinia/css/plugins/nouslider/jquery.nouislider.css" %}" rel="stylesheet">

        <link href="{% static "stratosphere/bootstrap-tour-0.10.3/css/bootstrap-tour.min.css" %}" rel="stylesheet">
        {% endcompress %}

        <link href="{% static "stratosphere/a-logo-blue.png" %}" rel="shortcut icon" type="image/x-icon">

        <style>
            .page-heading {
                padding-bottom: 10px;
            }

            /* set explicitly to improve rendering performance while image is loading */
            .avatar-img {
                height: 48px;
                width: 48px;
            }

            @media (max-width: 768px) {
                /* default is to have a 10px bottom margin on the last child, which is ugly on mobile */
                .nav-second-level li:last-child {
                    margin-bottom: 0;
                }
            }

            /* select boxes are displayed inline with their labels by default */
            .mobile-select {
                display: block;
                width: 100%;
            }

            /* hides ng-cloak elements before Angular is loaded */
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
                display: none !important;
            }

            .provider-icon {
                height: 16px;
                margin-right: 5px;
            }

            .nav .provider-icon {
                margin-right: 10px;
            }

            .provider-link a *, .provider-link span, .public-ip * {
                display: inline-block;
                vertical-align: middle;
            }

            .provider-link img {
                height: 16px;
                margin-left: 5px;
            }

            .start-tour-link {
                float: right;
                height: 1em;
                padding-top: 4px;
                opacity: .4;
                cursor: pointer;
            }

            .list-info-block .horizontal-element {
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;
            }

            .list-info-block .right-cell {
                padding-left: 4px;
            }

            .setup-instructions h1,
            .setup-instructions .description,
            .setup-instructions button {
                margin-bottom: 40px;
            }

            .setup-instructions h1 {
                font-size: 40px;
            }

            .setup-instructions .description {
                font-size: 1.2em;
                padding: 0 20%;
            }

            .setup-instructions button {
                font-size: 1.4em;
            }

            .navbar-default .nav>li.disabled>a:hover,
            .navbar-default .nav>li.disabled>a:focus {
                background-color: #2F4050;
                color: #777;
            }

            .rebalance-event-distribution-table {
                margin-top: 5px;
                margin-bottom: 0;
            }

            .ibox-content {
                padding-bottom: 15px;
            }

            .dashboard-widget-container {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .dashboard-widget h4 {
                margin-bottom: 0;
            }

            .pagination {
                float: right;
                margin: 15px 0 0 0;
            }

            {% block style %}
            {% endblock %}
        </style>

        <script type="text/javascript">
            window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
            heap.load("637279137");
        </script>
    </head>

    <body>
        <div id="wrapper">
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                <span>
                                    <img class="img-circle avatar-img" src="{{ request.user.avatar_url }}">
                                </span>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear">
                                        <span class="block m-t-xs">
                                            <strong class="font-bold">{{ request.user.first_name }} {{ request.user.last_name }}</strong>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </li>
                        <li
                            class="
                                {% if left_nav_section == "dashboard" %}
                                    active
                                {% endif %}
                                {% if setup_progress < 0 %}
                                    disabled
                                {% endif %}
                            "
                        >
                            <a href="/"><i class="fa fa-tachometer"></i> <span class="nav-label">Dashboard</span></a>
                        </li>
                        <li
                            class="
                                {% if left_nav_section == "groups" %}
                                    active
                                {% endif %}
                                {% if setup_progress < 3 %}
                                    disabled
                                {% endif %}
                            "
                        >
                            <a href="#"><i class="fa fa-cubes"></i> <span class="nav-label">Compute groups</span> <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li
                                    {% if left_sub_nav_section == "create" %}
                                        class="active"
                                    {% endif %}
                                ><a href="/compute_groups/create/"><i class="fa fa-plus"></i> Create</a></li>
                                <li
                                    {% if left_sub_nav_section == "view" %}
                                        class="active"
                                    {% endif %}
                                ><a href="/compute_groups/"><i class="fa fa-table"></i> View</a></li>
                            </ul>
                        </li>
                        <li
                            class="
                                {% if left_nav_section == "providers" %}
                                    active
                                {% endif %}
                                {% if setup_progress < 0 %}
                                    disabled
                                {% endif %}
                            "
                        >
                            <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">Providers</span> <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li
                                    {% if left_sub_nav_section == "aws" %}
                                        class="active"
                                    {% endif %}
                                >
                                <a href="/providers/aws/" class="provider-link">
                                    <img class="provider-icon" src="{% static "stratosphere/aws_icon.png" %}"><!--
                                    --><span>AWS</span>
                                </a></li>
                                <li
                                    {% if left_sub_nav_section == "azure" %}
                                        class="active"
                                    {% endif %}
                                >
                                <a href="/providers/azure/" class="provider-link">
                                    <img class="provider-icon" src="{% static "stratosphere/azure_icon.png" %}"><!--
                                    --><span>Azure</span>
                                </a></li>
                            </ul>
                        </li>
                        <li
                            class="
                                {% if left_nav_section == "authentication" %}
                                    active
                                {% endif %}
                                {% if setup_progress < 1 %}
                                    disabled
                                {% endif %}
                            "
                        >
                            <a href="/authentication/"><i class="fa fa-key"></i> <span class="nav-label">Authentication</span></a>
                        </li>
                        <li
                            class="
                                {% if left_nav_section == "images" %}
                                    active
                                {% endif %}
                                {% if setup_progress < 2 %}
                                    disabled
                                {% endif %}
                            "
                        >
                            <a href="/images/"><i class="fa fa-object-group"></i> <span class="nav-label">Images</span></a>
                        </li>
                        <li
                            class="
                                {% if left_nav_section == "health_checks" %}
                                    active
                                {% endif %}
                                {% if setup_progress < 4 %}
                                    disabled
                                {% endif %}
                            "
                        >
                            <a href="/health_checks/"><i class="fa fa-medkit"></i> <span class="nav-label">Health checks</span></a>
                        </li>
                    </ul>

                </div>
            </nav>

            <div id="page-wrapper" class="gray-bg dashbard-1">
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                            <a href="/" class="navbar-brand" style="padding: 18px 15px 15px 15px;">Aerovane</a>
                            <!--<form role="search" class="navbar-form-custom" action="search_results.html">
                                <div class="form-group">
                                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                                </div>
                            </form>-->
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <span class="m-r-sm text-muted welcome-message"></span>
                            </li>
                            <!--<li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                                </a>
                                <ul class="dropdown-menu dropdown-messages">
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle" src="{% static "stratosphere/inspinia/img/a7.jpg" %}">
                                            </a>
                                            <div class="media-body">
                                                <small class="pull-right">46h ago</small>
                                                <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                                <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="text-center link-block">
                                            <a href="mailbox.html">
                                                <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                                </a>
                                <ul class="dropdown-menu dropdown-alerts">
                                    <li>
                                        <a href="mailbox.html">
                                            <div>
                                                <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                                <span class="pull-right text-muted small">4 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="text-center link-block">
                                            <a href="notifications.html">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>-->

                            {% if request.user.is_authenticated %}
                                <li>
                                    <a href="/accounts/logout/"><i class="fa fa-sign-out"></i> Log out</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>

                {% block content %}
                {% endblock %}
            </div>
        </div>

        {% compress js %}
        <!-- load before Angular so that all selectors can be used -->
        <script src="{% static "stratosphere/inspinia/js/jquery-2.1.1.js" %}"></script>

        <script src="{% static "stratosphere/angular.min.js" %}"></script>
        <script src="{% static "stratosphere/angular-resource.min.js" %}"></script>
        <script src="{% static "stratosphere/isteven-multi-select/isteven-multi-select.js" %}"></script>
        <script src="{% static "stratosphere/angular-ui-select/select.min.js" %}"></script>
        <script src="{% static "stratosphere/ui-bootstrap-tpls-0.14.3.min.js" %}"></script>

        <script src="{% static "stratosphere/angular-ui-select/select.min.js" %}"></script>

        <script src="{% static "stratosphere/instances-chart/instances-chart.js" %}"></script>
        <script src="{% static "stratosphere/jquery-dateFormat.min.js" %}"></script>

        <!-- Mainly scripts -->
        <script src="{% static "stratosphere/inspinia/js/bootstrap.min.js" %}"></script>
        <script src="{% static "stratosphere/inspinia/js/plugins/metisMenu/jquery.metisMenu.js" %}"></script>
        <script src="{% static "stratosphere/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js" %}"></script>

        <!-- Flot -->
        <script src="{% static "stratosphere/flot-0.8.3/jquery.flot.min.js" %}"></script>
        <script src="{% static "stratosphere/flot-0.8.3/jquery.flot.stack.js" %}"></script>
        <script src="{% static "stratosphere/flot-0.8.3/jquery.flot.time.js" %}"></script>

        <!-- Custom and plugin javascript -->
        <script src="{% static "stratosphere/inspinia/js/inspinia.js" %}"></script>
        <script src="{% static "stratosphere/inspinia/js/plugins/nouslider/jquery.nouislider.min.js" %}"></script>

        <script src="{% static "stratosphere/chosen/js/chosen.jquery.min.js" %}"></script>

        <script src="{% static "stratosphere/ion.rangeSlider-2.1.2/js/ion.rangeSlider.min.js" %}"></script>

        <script src="{% static "stratosphere/bootstrap-tour-0.10.3/js/bootstrap-tour.min.js" %}"></script>

        <script src="{% static "stratosphere/inspinia/js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js" %}"></script>
        <script src="{% static "stratosphere/inspinia/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" %}"></script>
        {% endcompress %}

        <script>
          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }
          var csrftoken = getCookie('csrftoken');
          function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }
          $.ajaxSetup({
            beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
            }
          });

          $('.fancy-select').chosen({
              width: '100%'
          });

          // chosen doesn't support mobile devices
          $('.fancy-select').each(function() {
            if ($(this).css('display') != 'none')
              $(this).addClass('mobile-select');
          });

          $(document).ready(function() {
            $(".nav li.disabled a").unbind("click");
            $(".nav li.disabled a").click(function() {
              return false;
            });
          });

          {% block body_script %}
          {% endblock %}
        </script>

        <script type="text/javascript">
            var doughnutOptions = {
                segmentShowStroke: true,
                segmentStrokeColor: "#fff",
                segmentStrokeWidth: 2,
                percentageInnerCutout: 45, // This is 0 for Pie charts
                animationSteps: 100,
                animationEasing: "easeOutBounce",
                animateRotate: true,
                animateScale: false,
                tooltipTemplate: "<%= label %>: $<%= Number((value / 1000) * 24 * 30).toFixed(2) %>/mo"
            };

            var doughnutChartFillColors = [
                "#aec7e8",
                "#ffbb78",
                "#98df8a",
                "#ff9896",
                "#c5b0d5",
                "#c49c94",
                "#f7b6d2",
                "#c7c7c7",
                "#dbdb8d",
                "#9edae5",
            ];

            var doughnutChartHighlightColors = [
                "#1f77b4",
                "#ff7f0e",
                "#2ca02c",
                "#d62728",
                "#9467bd",
                "#8c564b",
                "#e377c2",
                "#7f7f7f",
                "#bcbd22",
                "#17becf",
            ];

            function updateDoughnutChart(chart, newValue, nameKey) {
                // all-zero values break Chart.js
                var hasNonZeroElement = false;
                for (var i = 0; i < newValue.length; i++) {
                    if (newValue[i].cost > 0)
                        hasNonZeroElement = true;
                }

                if (!hasNonZeroElement)
                    newValue = [];

                for (var i = 0; i < newValue.length; i++) {
                    var segment;
                    if (i < chart.segments.length)
                        segment = chart.segments[i];
                    else {
                        segment = new Object();
                    }

                    segment.label = newValue[i][nameKey];
                    segment.value = Number(newValue[i].cost) * 1000;

                    // prevent elements from changing their color because others have been deleted
                    var colorIndex = newValue.indexOf(newValue[i]);
                    segment.color = doughnutChartFillColors[colorIndex % doughnutChartFillColors.length];
                    segment.highlight = doughnutChartHighlightColors[colorIndex % doughnutChartHighlightColors.length];

                    if (i >= chart.segments.length)
                        chart.addData(segment);
                }

                var lengthDiff = chart.segments.length - newValue.length;
                if (lengthDiff > 0)
                    chart.segments.splice(newValue.length, lengthDiff);

                chart.update();
            }

            function createDoughnutChart(canvasElementId) {
                var chartNode = document.getElementById(canvasElementId);
                var chart;
                if (chartNode != null) {
                    var ctx = chartNode.getContext("2d");
                    chart = new Chart(ctx).Doughnut([], doughnutOptions);
                }
                else
                    chart = null;

                return chart;
            }

            function updateProviderSiteMap(enabledProviders) {
                var usaRunningCount = 0;
                for (var i = 0; i < enabledProviders.length; i++)
                    usaRunningCount += enabledProviders[i].running_count;

                var mapData = {
                    "US": usaRunningCount,
                };

                var providers = [
                    {name: 'AWS US East (N. Virginia)', coords: [38.8994613,-77.0847778], icon: 'aws'},
                    {name: 'AWS US West (N. California)', coords: [38.5616538,-121.5131238], icon: 'aws'},
                    {name: 'AWS US West (Oregon)', coords: [44.0607673,-123.1927616], icon: 'aws'},
                ];

                var providerCoords = {
                    'AWS US East (N. Virginia)': [38.8994613,-77.0847778],
                    'AWS US West (N. California)': [38.5616538,-121.5131238],
                    'AWS US West (Oregon)': [44.0607673,-123.1927616],
                }

                $('#provider-site-map').empty();

                $('#provider-site-map').vectorMap({
                    map: 'world_mill_en',
                    backgroundColor: "transparent",
                    regionStyle: {
                        initial: {
                            fill: '#e4e4e4',
                            "fill-opacity": 0.9,
                            stroke: 'none',
                            "stroke-width": 0,
                            "stroke-opacity": 0
                        }
                    },

                    onRegionTipShow: function(event, label, code){
                       label.text(label.text() + " (" + usaRunningCount + " running instances)");
                    },

                    series: {
                        regions: [{
                            values: mapData,
                            scale: ["#1ab394", "#22d6b1"],
                        }],
                        markers: [{
                            attribute: 'image',
                            scale: {
                                'aws': '/static/stratosphere/aws_map_icon.png',
                            },
                            values: providers.reduce(function(p, c, i) { p[i] = c.icon; return p }, {}),
                        }]
                    },

                    markers: enabledProviders.map(function(h) { return {name: h.name + ': ' + h.running_count + ' running instances', latLng: providerCoords[h.name]} }),
                });
            }

            var compute_group_id = "{{ compute_group_id|default:"" }}";
            if (compute_group_id.length == 0)
                compute_group_id = null;

            $(document).ready(function() {
                if ($('#instances-chart').length)
                    setUpInstancesChart(compute_group_id);

                if (typeof tutorialTour !== 'undefined') {
                    // awful hack to delay starting until elements are created
                    setTimeout(function() {
                        tutorialTour.init();
                        tutorialTour.start();
                    }, 500);

                    $('.start-tour-link').click(function() {
                        tutorialTour.restart(tutorialTour._options.name);
                    });
                }
            });

            var dashboardApp = angular.module('dashboardApp', ['ngResource', 'isteven-multi-select', 'ui.bootstrap'])
                .config(function ($interpolateProvider) {
                    $interpolateProvider.startSymbol('{$');
                    $interpolateProvider.endSymbol('$}');
                });

            dashboardApp.config(['$resourceProvider', function($resourceProvider) {
                // Don't strip trailing slashes from calculated URLs
                $resourceProvider.defaults.stripTrailingSlashes = false;
            }]);

            dashboardApp.config(['$httpProvider', function($httpProvider) {
                $httpProvider.defaults.xsrfCookieName = 'csrftoken';
                $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
            }]);

            dashboardApp.factory('Group', function($resource) {
                return $resource('/compute/:id/');
            });

            dashboardApp.factory('Provider', function($resource) {
                return $resource('/providers/:id/');
            });

            dashboardApp.factory('OperatingSystem', function($resource) {
                return $resource('/operating_system/:id/');
            });

            dashboardApp.factory('Event', function($resource) {
                return $resource('/events/:id/');
            });

            dashboardApp.controller('OperatingSystemListCtrl',
                                    ['$scope', 'OperatingSystem', '$http',
                                     function ($scope, OperatingSystem, $http) {
                var providers = [
                    {% for provider in providers %}
                        {
                            id: "{{ provider.pk }}",
                            name: "{{ provider.provider.name }}",
                            pretty_name: "{{ provider.provider.pretty_name }}",
                        },
                    {% endfor %}
                ];

                var preloadedImages = {
                    {% for image_name, preloaded_image in preloaded_images.items %}
                        '{{ image_name }}': {
                            {% for provider_name, image_info in preloaded_image.items %}
                                '{{ provider_name }}': { id: '{{ image_info.id }}', name: '{{ image_info.name }}' },
                            {% endfor %}
                        },
                    {% endfor %}
                };

                OperatingSystem.query(function(data) {
                    $scope.operating_systems = data;
                });

                $scope.create = function() {
                    $scope.operating_systems.push(new OperatingSystem({providers: providers}));
                };

                $scope.update = function(os, index) {
                    OperatingSystem.save(os, function(data) {
                        {% if setup_incomplete %}
                            window.location.href = "/";
                        {% else %}
                            $scope.operating_systems[index].id = data.id;
                            $scope.operating_systems[index].deletable = true;
                        {% endif %}
                    });
                };

                $scope.delete = function(os, index) {
                    OperatingSystem.delete(os, function(data) {
                        $scope.operating_systems.splice(index, 1);
                    });
                };

                $scope.addPreloaded = function(imageName) {
                    var preloadedImage = typeof imageName !== 'undefined' ? preloadedImages[imageName] : {};

                    var newProviders = [];
                    for (var i = 0; i < providers.length; i++) {
                        var provider = jQuery.extend(true, {}, providers[i]);
                        provider.disk_image = preloadedImage[provider.name];
                        newProviders.push(provider);
                    }

                    var os = new OperatingSystem({providers: newProviders});
                    $scope.operating_systems.unshift(os);
                };

                angular.extend($scope, {
                    onDiskImageSelected: function (item, model, label) {
                        setTimeout(function() {
                            $(document.activeElement).val('<' + item.provider_external_id + '> ' + item.name);
                        });
                    },

                    getDiskImages: function (val, provider_id) {
                        return $http.get('/providers/' + provider_id + '/disk_images/', {
                            params: {
                                query: val,
                            }
                        }).then(function (res) {
                            var disk_images = [];
                            angular.forEach(res.data, function(disk_image){
                                disk_images.push(disk_image);
                            });
                            return disk_images;
                        });
                    },
                });
            }]);

            dashboardApp.controller('ComputeGroupCtrl', ['$scope', 'Group', '$interval',
                                    function ($scope, Group, $interval) {
                addPagination($scope, 5, 10);

                Group.query({id: compute_group_id}, function(data) {
                    $scope.group = data[0];
                    $scope.items = $scope.group.instances;
                });

                $scope.hourly_cost = function(group) {
                    return group.price * 24;
                }

                $scope.delete = function() {
                    Group.delete({id: compute_group_id}, function() {
                        $scope.group.state == 'DESTROYED';
                    });
                }

                $interval(function() {
                    Group.query({id: compute_group_id}, function(data) {
                        $scope.group = data[0];
                    });
                }, 3000);
            }]);

            dashboardApp.controller('EventListCtrl', ['$scope', 'Event', '$interval', '$sce', '$attrs',
                                    function ($scope, Event, $interval, $sce, $attrs) {
                addPagination($scope, 5, 10);

                var computeGroupId = $attrs['computeGroupId'];

                var formatFields = function(event) {
                    var dateTime = new Date(event.time);
                    event.formatted_time = jQuery.format.date(dateTime, 'MM/dd/yyyy HH:mm:ss');
                    event.pretty_time = jQuery.format.prettyDate(dateTime);
                    event.description = $sce.trustAsHtml(event.description);
                };

                Event.query({computeGroupId: computeGroupId}, function(data) {
                    data.sort(function(a, b) {return b.time - a.time});
                    $scope.items = data;
                    for (var i = 0; i < $scope.items.length; i++)
                        formatFields($scope.items[i]);
                });

                $interval(function() {
                    Event.query({computeGroupId: computeGroupId}, function(data) {
                        data.sort(function(a, b) {return b.time - a.time});
                        $scope.items = data;
                        for (var i = 0; i < $scope.items.length; i++)
                            formatFields($scope.items[i]);
                    });
                }, 3000);
            }]);

            function addPagination($scope, numPerPage, maxSize) {
                $scope.items = [];
                $scope.filteredItems = [];

                $scope.currentPage = 1;
                $scope.numPerPage = numPerPage;
                $scope.maxSize = maxSize;

                var updateFilteredItems = function() {
                    var begin = ($scope.currentPage - 1) * $scope.numPerPage;
                    var end = begin + $scope.numPerPage;

                    $scope.filteredItems = $scope.items.slice(begin, end);
                }

                $scope.$watch('currentPage + numPerPage', updateFilteredItems);
                $scope.$watch('items', updateFilteredItems);
            }

            dashboardApp.controller('ProviderListCtrl', ['$scope', 'Provider', '$timeout', '$interval', '$http',
                                                         function ($scope, Provider, $timeout, $interval, $http) {
                addPagination($scope, 3, 5);

                Provider.query(function(data) {
                    $scope.items = data;
                });

                var changingEnabled = false;

                $interval(function() {
                    Provider.query(function(data) {
                        // hack around race condition between user changing value and receiving periodic update
                        if (!changingEnabled)
                            $scope.items = data;
                    });
                }, 3000);

                $scope.changeProviderEnabled = function(provider) {
                    changingEnabled = true;
                    $http.post('/providers/' + provider.id + '/enabled/', {enabled: provider.enabled}).then(function() {
                            changingEnabled = false;
                        }
                    );
                }

                $scope.simulateFailure = function(provider) {
                    $http.post('/providers/' + provider.id + '/fail/');
                }

                $scope.costDoughnutChart = createDoughnutChart("providerCostDoughnutChart");

                $scope.$watch('items', function(newValue, oldValue) {
                    $timeout(function() {
                        if (typeof newValue !== 'undefined') {
                            newValue.sort(function(a, b) { return a.id - b.id; });

                            var getSiteValues = function(providerValues) {
                                var siteValues = [];
                                for (var i = 0; i < providerValues.length; i++) {
                                    if (providerValues[i].enabled)
                                        siteValues.push({id: providerValues[i].id, name: providerValues[i].pretty_name, running_count: providerValues[i].running_count});
                                }
                                return siteValues;
                            };

                            var newValueIds = getSiteValues(newValue);

                            var differentSites;
                            if (typeof oldValue === 'undefined')
                                differentSites = true;
                            else {
                                oldValue.sort(function(a, b) { return a.id - b.id; });
                                var oldValueIds = getSiteValues(oldValue);
                                differentSites = JSON.stringify(newValueIds) !== JSON.stringify(oldValueIds);
                            }

                            if ($scope.costDoughnutChart != null) {
                                updateDoughnutChart($scope.costDoughnutChart, newValue, "pretty_name");
                                if (differentSites)
                                    updateProviderSiteMap(newValueIds);
                            }
                        }
                    });
                }, true);
            }]);

            dashboardApp.controller('ComputeGroupListCtrl', ['$scope', 'Group', '$timeout', '$interval', '$http', '$attrs',
                                                             function ($scope, Group, $timeout, $interval, $http, $attrs) {
                var itemsPerPage = $attrs['itemsPerPage'] || 5;
                addPagination($scope, itemsPerPage, 10);

                Group.query(function(data) {
                    $scope.items = data;
                });

                $interval(function() {
                    Group.query(function(data) {
                        $scope.items = data;
                    });
                }, 3000);

                $scope.costDoughnutChart = createDoughnutChart("computeGroupCostDoughnutChart");

                $scope.$watch('[items,filteredItems]', function(newValue, oldValue) {
                    $timeout(function() {
                        $('.group button').removeAttr('disabled');
                        $('.group-DESTROYED button').attr('disabled', true);

                        if (typeof newValue !== 'undefined') {
                            newValue = newValue[0].slice(0); // prevent in-place sorting from screwing up pagination
                            newValue.sort(function(a, b) { return a.created_at - b.created_at; });

                            if ($scope.costDoughnutChart != null)
                                updateDoughnutChart($scope.costDoughnutChart, newValue, "name");

                            for (var i = 0; i < newValue.length; i++) {
                                var series = [{
                                    data: [],
                                    label: "Running",
                                    lineWidth: 0,
                                    color: "#5cb85c",
                                    fill: 1,
                                },
                                {
                                    data: [],
                                    label: "Pending",
                                    color: "#f0ad4e",
                                    lineWidth: 0,
                                    fill: 1,
                                },
                                {
                                    data: [],
                                    label: "Unavailable",
                                    color: "#d9534f",
                                    lineWidth: 0,
                                    fill: 1,
                                }];

                                var yaxis_ticks = [];

                                var j = 0;
                                var providers = newValue[i].providers;
                                var provider_names = Object.keys(providers);
                                provider_names.sort();
                                provider_names.forEach(function (provider_name) {
                                    var provider = providers[provider_name];

                                    yaxis_ticks.push([j, '<span>' + provider.pretty_name + '</span><img src="' + provider.icon_url + '">']);

                                    series[0].data.push([provider.running, j]);
                                    series[1].data.push([provider.pending, j]);
                                    series[2].data.push([provider.failed, j]);
                                    j++;
                                });

                                var options = {
                                    xaxis: {
                                        tickLength: 0,
                                        tickFormatter: function() { return ''; },
                                    },
                                    yaxis: {
                                        ticks: yaxis_ticks,
                                        tickLength: 0,
                                    },
                                    series: {
                                        bars: {
                                            show: true,
                                            barWidth: .7,
                                            align: "center",
                                            horizontal: true,
                                            lineWidth: 0,
                                            fill: 1,
                                        },
                                        stack: true,
                                    },
                                    legend: {
                                        show: false,
                                    },
                                    grid: {
                                        borderWidth: 0,
                                        hoverable: true,
                                    },
                                    tooltip: true,
                                    tooltipOpts: {
                                        show: true,
                                        content: function(label, x, y, flotItem) {
                                            return label + ': ' + x;
                                        },
                                    },
                                };

                                var placeholder = $('tr[group-id="' + newValue[i].id + '"] .graph-placeholder');
                                placeholder.height(18 * provider_names.length);
                                placeholder.plot(series, options);
                            }
                        }
                    });
                }, true);

                $scope.update = function(group) {
                    $('#add-group-button').prop('disabled', true);

                    {% for provider in possible_providers %}
                        if (!$('input[name="provider_choice_{{ provider.name }}"]').is(':checked'))
                            delete group.provider_choice_{{ provider.name }};
                    {% endfor %}

                    $scope.group = new Group(angular.copy(group));
                    Group.save($scope.group, function(created_group) {
                        window.location.href = '/';
                    });
                }
            }]);
        </script>
    </body>
</html>
