{% extends "stratosphere/inspinia.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h1>Providers</h1>
        </div>
    </div>

    <div class="wrapper wrapper-content">
        <div class="row" id="loading-alert" style="display: none;">
            <div class="col-lg-12">
                <div class="alert alert-info" role="alert">Loading provider data...</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title"><img src="{% static "/stratosphere/aws_icon.png" %}"><span>AWS</span></div>
                    </div>
                    <div class="panel-body">
                        <form action="/providers/aws/" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Access key ID</label>
                                <input type="text" class="form-control" name="aws_access_key_id">
                            </div>
                            <div class="form-group">
                                <label>Secret access key</label>
                                <input type="password" class="form-control" name="aws_secret_access_key">
                            </div>
                            <input type="submit" value="Save" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_script %}
    $(document).ready(function() {
        setInterval(function() {
            $.ajax({
                url: '/providers/loaded/',
                method: 'GET',
                success: function(data) {
                    var loaded = data['loaded'];
                    $('#loading-alert').toggle(!loaded);
                },
            });
        }, 1000);
    });
{% endblock %}

{% block style %}
    .panel-title img {
        height: 16px;
        margin-right: 5px;
    }

    .panel-title > * {
        display: inline-block;
        vertical-align: middle;
    }
{% endblock %}