{% extends "stratosphere/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 style="margin-top: 0;">Settings</h1>
        </div>
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#providers" aria-controls="providers" role="tab" data-toggle="tab">Providers</a></li>
        <li role="presentation"><a href="#authentication" aria-controls="authentication" role="tab" data-toggle="tab">Authentication</a></li>
        <li role="presentation"><a href="#deployment" aria-controls="deployment" role="tab" data-toggle="tab">Deployment</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="providers">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Providers</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title"><img src="{% static "/stratosphere/aws_icon.png" %}"><span>AWS</span></div>
                        </div>
                        <div class="panel-body">
                            <form action="/settings/aws/" method="post">
                                {% csrf_token %}
                                {% bootstrap_form aws %}
                                <input type="submit" value="Save" class="btn btn-primary" >
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title"><img src="{% static "/stratosphere/linode_icon.png" %}"><span>Linode</span></div>
                        </div>
                        <div class="panel-body">
                            <form action="/settings/linode/" method="post">
                                {% csrf_token %}
                                {% bootstrap_form linode %}
                                <input type="submit" value="Save" class="btn btn-primary" >
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="authentication">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Authentication Methods</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">SSH Keys</div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for method in key_methods %}
                                        <tr>
                                            <td style="width: 99%;">{{ method.name }}</td>
                                            <td>
                                                <button class="btn btn-danger btn-xs delete-method-button" method-id="{{ method.id }}">Delete</button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <form action="/authentication_methods/" method="post">
                                {% csrf_token %}
                                {% bootstrap_form add_key_method %}
                                <input type="submit" value="Add" class="btn btn-primary" >
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">Add Password</div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for method in password_methods %}
                                        <tr>
                                            <td style="width: 99%;">{{ method.name }}</td>
                                            <td><button class="btn btn-danger btn-xs delete-method-button" method-id="{{ method.pk }}">Delete</button></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <form action="/authentication_methods/" method="post">
                                {% csrf_token %}
                                {% bootstrap_form add_password_method %}
                                <input type="submit" value="Add" class="btn btn-primary" >
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="deployment">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Deployment</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">Deployment Scripts</div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for script in deployment_scripts %}
                                        <tr>
                                            <td style="width: 99%;">{{ script.name }}</td>
                                            <td><button class="btn btn-danger btn-xs delete-script-button" script-id="{{ script.pk }}">Delete</button></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <form action="/deployment_scripts/" method="post">
                                {% csrf_token %}
                                {% bootstrap_form add_deployment_script %}
                                <input type="submit" value="Add" class="btn btn-primary" >
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_script %}
    $(document).ready(function() {
        $('.delete-method-button').click(function() {
            $.ajax({
                url: '/authentication_methods/' + $(this).attr('method-id') + '/',
                method: 'DELETE',
                success: function() {
                    location.reload();
                },
            });
        });

        $('.delete-script-button').click(function() {
            $.ajax({
                url: '/deployment_scripts/' + $(this).attr('script-id') + '/',
                method: 'DELETE',
                success: function() {
                    location.reload();
                },
            });
        });

        $('#myTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
    });
{% endblock %}

{% block style %}
    .panel-title img {
        height: 16px;
        margin-right: 5px;
    }

    .panel-title > * {
        display: inline-block;
        vertical-align: middle;
    }
{% endblock %}