{% extends "stratosphere/base.html" %}

{% load bootstrap3 %}

{% block content %}
<div class="row signup-form-row">
    <div class="col-lg-4 col-lg-offset-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Log in</div>
            </div>
            <div class="panel-body">
                <p>Don't have an account yet? <a href="{{ signup_url }}">Sign up</a>.</p>

                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <input type="submit" value="Log in" class="btn btn-primary">
                    <a class="button secondaryAction" style="margin-left: 10px;" href="{% url 'account_reset_password' %}">Forgot Password?</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block style %}
    .signup-form-row {
        margin-top: 10%;
    }
{% endblock %}